
.bang_zhu_zhong_xin  {
    position:absolute;
width:5.000000rem;
height:8.893333rem;
background-color:rgba(255,255,255,1);

}
.bang_zhu_zhong_xin .Rectangle_2 .Path  {
    background-color:rgba(215,215,215,1);
position:absolute;
width:5.000000rem;
height:6.893333rem;

}
.bang_zhu_zhong_xin .Rectangle_16 .Path_1  {
    background-color:rgba(247,247,247,1);
position:absolute;
width:4.200000rem;
height:0.013333rem;

}
.bang_zhu_zhong_xin .Rectangle_16_Copy_2 .Path_2  {
    background-color:rgba(247,247,247,1);
position:absolute;
width:4.200000rem;
height:0.013333rem;

}
.bang_zhu_zhong_xin .Rectangle_16_Copy .Path_3  {
    background-color:rgba(247,247,247,1);
position:absolute;
width:4.200000rem;
height:0.013333rem;

}
.bang_zhu_zhong_xin .Rectangle_16_Copy_3 .Path_4  {
    background-color:rgba(247,247,247,1);
position:absolute;
width:4.200000rem;
height:0.013333rem;

}
.bang_zhu_zhong_xin .Rectangle_16_Copy_4 .Path_5  {
    background-color:rgba(247,247,247,1);
position:absolute;
width:4.200000rem;
height:0.013333rem;

}
.bang_zhu_zhong_xin .Group .ru_he_sheng_ji_yan_jing_de_gu_jian_  {
    position:absolute;
left:0.120000rem;
width:2.040000rem;
height:0.280000rem;
color:#000000;
line-height:normal;
font-size:0.200000rem;
font-family:PingFangSC-Medium;
letter-spacing:0.003417rem;

}
.bang_zhu_zhong_xin .Group .Rectangle_10 .Path_6  {
    background-color:rgba(128,128,255,1);
position:absolute;
width:0.053333rem;
height:0.160000rem;
border-radius:0.053333rem;

}
.bang_zhu_zhong_xin .Group_2 .yan_jing_de_cun_chu_kong_jian_duo_shao_  {
    position:absolute;
left:0.113333rem;
width:2.040000rem;
height:0.280000rem;
color:rgba(44,44,44,1);
line-height:normal;
font-size:0.200000rem;
font-family:PingFangSC-Medium;
letter-spacing:0.003417rem;

}
.bang_zhu_zhong_xin .Group_2 .Rectangle_10_Copy .Path_7  {
    background-color:rgba(128,128,255,1);
position:absolute;
width:0.053333rem;
height:0.160000rem;
border-radius:0.053333rem;

}
.bang_zhu_zhong_xin .Group_2_Copy .WiFi________  {
    position:absolute;
left:0.113333rem;
width:2.066667rem;
height:0.280000rem;
color:rgba(44,44,44,1);
line-height:normal;
font-size:0.200000rem;
font-family:PingFangSC-Medium;
letter-spacing:0.003417rem;

}
.bang_zhu_zhong_xin .Group_2_Copy .Rectangle_10_Copy_1 .Path_8  {
    background-color:rgba(128,128,255,1);
position:absolute;
width:0.053333rem;
height:0.160000rem;
border-radius:0.053333rem;

}
.bang_zhu_zhong_xin .Group_3 .WiFi_________1  {
    position:absolute;
left:0.113333rem;
width:2.066667rem;
height:0.280000rem;
color:rgba(44,44,44,1);
line-height:normal;
font-size:0.200000rem;
font-family:PingFangSC-Medium;
letter-spacing:0.003417rem;

}
.bang_zhu_zhong_xin .Group_3 .Rectangle_10_Copy_2 .Path_9  {
    background-color:rgba(128,128,255,1);
position:absolute;
width:0.053333rem;
height:0.160000rem;
border-radius:0.053333rem;

}
.bang_zhu_zhong_xin .Group_3_Copy .ru_he_lian_jie_lan_ya_  {
    position:absolute;
left:0.113333rem;
width:1.426667rem;
height:0.280000rem;
color:rgba(44,44,44,1);
line-height:normal;
font-size:0.200000rem;
font-family:PingFangSC-Medium;
letter-spacing:0.003417rem;

}
.bang_zhu_zhong_xin .Group_3_Copy .Rectangle_10_Copy_3 .Path_10  {
    background-color:rgba(128,128,255,1);
position:absolute;
width:0.053333rem;
height:0.160000rem;
border-radius:0.053333rem;

}
.bang_zhu_zhong_xin ._1______TONOT_App__2_  {
    position:absolute;
left:0.426667rem;
top:0.840000rem;
width:4.200000rem;
height:1.200000rem;
color:rgba(142,142,142,1);
line-height:normal;
font-size:0.173333rem;
font-family:PingFangSC-Regular;
letter-spacing:0.002961rem;

}
.bang_zhu_zhong_xin .TONOT___________4GB_  {
    position:absolute;
left:0.426667rem;
top:3.000000rem;
width:4.200000rem;
height:0.240000rem;
color:rgba(142,142,142,1);
line-height:normal;
font-size:0.173333rem;
font-family:PingFangSC-Regular;
letter-spacing:0.002961rem;

}
.bang_zhu_zhong_xin .zai_gong_gong_WiFi____________  {
    position:absolute;
left:0.426667rem;
top:5.400000rem;
width:4.200000rem;
height:0.480000rem;
color:rgba(142,142,142,1);
line-height:normal;
font-size:0.173333rem;
font-family:PingFangSC-Regular;
letter-spacing:0.002961rem;

}
.bang_zhu_zhong_xin ._4_MB_S_____WiFi_____  {
    position:absolute;
left:0.426667rem;
top:4.200000rem;
width:4.200000rem;
height:0.240000rem;
color:rgba(142,142,142,1);
line-height:normal;
font-size:0.173333rem;
font-family:PingFangSC-Regular;
letter-spacing:0.002961rem;

}
.bang_zhu_zhong_xin .da_kai_shou_ji_lan_ya____TONOT_App  {
    position:absolute;
left:0.426667rem;
top:6.840000rem;
width:4.200000rem;
height:0.480000rem;
color:rgba(142,142,142,1);
line-height:normal;
font-size:0.173333rem;
font-family:PingFangSC-Regular;
letter-spacing:0.002961rem;

}