
.ooto_Files_board  {
    position:absolute;
width:19.200000rem;
height:12.000000rem;
background-color:rgba(250,251,252,1);
line-height:normal;

}
.ooto_Files_board .base .Path  {
    background-color:rgba(243,248,249,1);
position:absolute;
width:17.800000rem;
height:10.666667rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .base_1 .Rectangle-path  {
    background-color:rgba(255,255,255,0.7400000095367432);
position:absolute;
width:3.760000rem;
height:13.413333rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_2 .folder .base_2 .Rectangle-path_1  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
top:0.000000rem;
width:1.213333rem;
height:0.373333rem;
border-radius:0.040000rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_2 .folder .folder_icon .Page_1 .Path_1  {
    fill:rgba(45,146,255,1);
stroke:rgba(255,255,255,1);
width:0.172840rem;
height:0.057778rem;
stroke-width:0.2px;
position:absolute;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_2 .folder .folder_icon .Rectangle-path_2 .Rectangle-path_3  {
    background-color:rgba(224,238,253,1);
border-color:rgba(77,161,255,1);
border-width:0.006667rem;
border-style:solid;
position:absolute;
width:0.180000rem;
height:0.125067rem;
border-radius:0.013333rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_2 .folder .Inspiration  {
    position:absolute;
left:-0.706667rem;
top:-0.173333rem;
width:2.866667rem;
height:0.733333rem;
transform:scale(0.2);
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;
letter-spacing:0.005455rem;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_2 ._1_hour_ago  {
    position:absolute;
left:-2.080000rem;
top:0.213333rem;
width:5.800000rem;
height:0.733333rem;
transform:scale(0.2);
color:rgba(188,198,206,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_2 .Samuel_Spencer_share  {
    position:absolute;
left:-4.706667rem;
top:-0.840000rem;
width:12.333333rem;
height:2.133333rem;
transform:scale(0.2);
color:rgba(50,59,70,1);
line-height:1.066667rem;
font-size:0.733333rem;
font-family:Helvetica;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_2 .oval .Path_2  {
    background-color:rgba(77,161,255,1);
position:absolute;
width:0.080000rem;
height:0.080000rem;
border-radius:0.040000rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_1 .File_3 .Client_Sketches_jpeg  {
    position:absolute;
left:-3.826667rem;
top:-0.280000rem;
width:10.633333rem;
height:0.733333rem;
transform:scale(0.2);
color:rgba(152,152,152,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_1 .File_3 .type .base_3 .Path_6  {
    background-color:rgba(152,152,152,1);
position:absolute;
width:0.306667rem;
height:0.133333rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_1 .File_3 .type .__JPEG  {
    position:absolute;
left:-0.346667rem;
top:-0.133333rem;
width:1.000000rem;
height:0.400000rem;
transform:scale(0.2);
color:rgba(152,152,152,1);
line-height:normal;
font-size:0.333333rem;
font-family:Helvetica;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_1 .File_2 .Hikoot_Proposal_pdf  {
    position:absolute;
left:-3.826667rem;
top:-0.293333rem;
width:10.633333rem;
height:0.733333rem;
transform:scale(0.2);
color:rgba(152,152,152,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_1 .File_2 .type_1 .base_4 .Path_7  {
    background-color:rgba(255,108,73,1);
position:absolute;
width:0.306667rem;
height:0.133333rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_1 .File_2 .type_1 .__PDF  {
    position:absolute;
left:-0.253333rem;
top:-0.133333rem;
width:0.800000rem;
height:0.400000rem;
transform:scale(0.2);
color:rgba(255,109,73,1);
line-height:normal;
font-size:0.333333rem;
font-family:Helvetica;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_1 .File_1 .Content_Client_Prese  {
    position:absolute;
left:-3.826667rem;
top:-0.293333rem;
width:10.633333rem;
height:0.733333rem;
transform:scale(0.2);
color:rgba(152,152,152,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_1 .File_1 .type_2 .base_5 .Path_8  {
    background-color:rgba(152,152,152,1);
position:absolute;
width:0.306667rem;
height:0.133333rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_1 .File_1 .type_2 .__PPTX  {
    position:absolute;
left:-0.346667rem;
top:-0.133333rem;
width:1.000000rem;
height:0.400000rem;
transform:scale(0.2);
color:rgba(133,133,133,1);
line-height:normal;
font-size:0.333333rem;
font-family:Helvetica;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_1 .A_moment_ago  {
    position:absolute;
left:-2.080000rem;
top:-0.053333rem;
width:5.800000rem;
height:0.733333rem;
transform:scale(0.2);
color:rgba(188,198,206,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_1 .Amy_Dettmering_share  {
    position:absolute;
left:-4.026667rem;
top:-0.333333rem;
width:10.633333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_1 .oval_1 .Path_9  {
    background-color:rgba(77,161,255,1);
position:absolute;
width:0.080000rem;
height:0.080000rem;
border-radius:0.040000rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .recent_files_3  {
    position:absolute;
left:-2.200000rem;
top:-0.333333rem;
width:5.533333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(219,223,229,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.020952rem;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .chevron-left .Path_10  {
    fill:rgba(127,142,163,1);
stroke:rgba(127,142,163,1);
width:0.059600rem;
height:0.101672rem;
stroke-width:0.3px;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .recent_files .separator .Path_11  {
    background-color:rgba(238,238,238,1);
position:absolute;
width:2.653333rem;
height:0.013333rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .settings .Switcher .Shape .Path_12  {
    fill:rgba(77,161,255,1);
width:0.350939rem;
height:0.146667rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .settings .Switcher .ellipse .Oval-path  {
    background-color:rgba(255,255,255,1);
border-color:rgba(208,215,221,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.173333rem;
height:0.173333rem;
border-radius:0.093333rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .settings .Dropbox_Sync  {
    position:absolute;
top:1.760000rem;
width:1.080000rem;
height:0.253333rem;
color:rgba(37,45,54,1);
line-height:0.253333rem;
font-size:0.173333rem;
font-family:Helvetica;
letter-spacing:-0.001238rem;
-webkit-text-stroke-width:0.002667rem;
-webkit-text-stroke-color:NaNrem;

}
.ooto_Files_board .side_app_-_ooto_space .settings .Switcher_1 .Shape_1 .Path_13  {
    fill:rgba(152,152,152,1);
width:0.350939rem;
height:0.146667rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .settings .Switcher_1 .ellipse_1 .Oval-path_1  {
    background-color:rgba(255,255,255,1);
border-color:rgba(208,215,221,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.173333rem;
height:0.173333rem;
border-radius:0.093333rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .settings .Backup  {
    position:absolute;
top:1.306667rem;
width:0.573333rem;
height:0.253333rem;
color:rgba(37,45,54,1);
line-height:0.253333rem;
font-size:0.173333rem;
font-family:Helvetica;
letter-spacing:-0.001238rem;
-webkit-text-stroke-width:0.002667rem;
-webkit-text-stroke-color:NaNrem;

}
.ooto_Files_board .side_app_-_ooto_space .settings .Turn_on_to_share_you  {
    position:absolute;
left:-5.517768rem;
top:0.466667rem;
width:13.827752rem;
height:1.066667rem;
transform:scale(0.2);
color:rgba(152,152,152,1);
line-height:1.066667rem;
font-size:0.600000rem;
font-family:Helvetica;

}
.ooto_Files_board .side_app_-_ooto_space .settings .Switcher_2 .Shape_2 .Path_14  {
    fill:rgba(77,161,255,1);
width:0.350939rem;
height:0.146667rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .settings .Switcher_2 .ellipse_2 .Oval-path_2  {
    background-color:rgba(255,255,255,1);
border-color:rgba(208,215,221,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.173333rem;
height:0.173333rem;
border-radius:0.093333rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .settings .File_Sharing  {
    position:absolute;
top:0.520000rem;
width:0.920000rem;
height:0.253333rem;
color:rgba(37,45,54,1);
line-height:0.253333rem;
font-size:0.173333rem;
font-family:Helvetica;
letter-spacing:-0.001238rem;
-webkit-text-stroke-width:0.002667rem;
-webkit-text-stroke-color:NaNrem;

}
.ooto_Files_board .side_app_-_ooto_space .settings .settings_1  {
    position:absolute;
left:-1.533333rem;
top:-0.333333rem;
width:3.866667rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(219,223,229,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.020952rem;

}
.ooto_Files_board .side_app_-_ooto_space .settings .separator_1 .Path_15  {
    background-color:rgba(238,238,238,1);
position:absolute;
width:2.653333rem;
height:0.013333rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .settings .chevron .Path_16  {
    fill:rgba(127,142,163,1);
stroke:rgba(127,142,163,1);
width:0.059600rem;
height:0.101672rem;
stroke-width:0.3px;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .file_details .File_details  {
    position:absolute;
left:-2.013333rem;
top:-0.333333rem;
width:5.066667rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(219,223,229,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.020952rem;

}
.ooto_Files_board .side_app_-_ooto_space .file_details .separator_2 .Path_17  {
    background-color:rgba(238,238,238,1);
position:absolute;
width:2.653333rem;
height:0.013333rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .file_details .chevron_1 .Path_18  {
    fill:rgba(127,142,163,1);
stroke:rgba(127,142,163,1);
width:0.059600rem;
height:0.101672rem;
stroke-width:0.3px;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .main .progress_bar .Path_19  {
    background-color:rgba(77,161,255,0.2);
position:absolute;
top:-0.000000rem;
width:1.466667rem;
height:0.040000rem;
border-radius:0.080000rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .main .progress_bar_35_ .Path_20  {
    background-color:rgba(77,161,255,1);
position:absolute;
top:-0.000000rem;
width:0.453333rem;
height:0.040000rem;
border-radius:0.080000rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .main ._8_08GB___40_53GB  {
    position:absolute;
left:-1.093333rem;
top:-0.533333rem;
width:5.466667rem;
height:2.400000rem;
transform:scale(0.2);
color:rgba(152,152,152,1);
line-height:2.400000rem;
font-size:0.666667rem;
font-family:Helvetica;

}
.ooto_Files_board .side_app_-_ooto_space .main .ooto_Space  {
    position:absolute;
left:1.080000rem;
top:-0.013333rem;
width:1.293333rem;
height:0.306667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.253333rem;
font-family:Helvetica;

}
.ooto_Files_board .side_app_-_ooto_space .main .icon .base_6 .Path_21  {
    background-color:rgba(234,244,255,1);
position:absolute;
width:0.733333rem;
height:0.733333rem;
border-radius:0.053333rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .main .icon .rocket_icon .Path_22  {
    fill:rgba(77,161,255,1);
stroke:rgba(255,255,255,1);
width:0.242870rem;
height:0.246475rem;
stroke-width:0.3px;
position:absolute;
left:0.023797rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .main .icon .rocket_icon .Path_23  {
    fill:rgba(77,161,255,1);
stroke:rgba(255,255,255,1);
width:0.039749rem;
height:0.048675rem;
stroke-width:0.3px;
position:absolute;
left:0.149748rem;
top:0.171521rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .main .icon .rocket_icon .Path_24  {
    fill:rgba(77,161,255,1);
stroke:rgba(255,255,255,1);
width:0.045382rem;
height:0.034776rem;
stroke-width:0.3px;
position:absolute;
left:0.047460rem;
top:0.081093rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .main .icon .rocket_icon .Path_25  {
    fill:rgba(77,161,255,1);
stroke:rgba(255,255,255,1);
width:0.173741rem;
height:0.176275rem;
stroke-width:0.3px;
position:absolute;
left:0.072086rem;
top:0.021141rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .main .icon .rocket_icon .Path_26  {
    fill:rgba(77,161,255,1);
stroke:rgba(255,255,255,1);
width:0.069517rem;
height:0.070549rem;
stroke-width:0.3px;
position:absolute;
left:0.150443rem;
top:0.046004rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .main .icon .rocket_icon .Path_27  {
    fill:rgba(77,161,255,1);
stroke:rgba(255,255,255,1);
width:0.027832rem;
height:0.028238rem;
stroke-width:0.3px;
position:absolute;
left:0.171286rem;
top:0.067159rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .main .icon .rocket_icon .Path_28  {
    fill:rgba(77,161,255,1);
stroke:rgba(255,255,255,1);
width:0.041215rem;
height:0.041832rem;
stroke-width:0.3px;
position:absolute;
top:0.179778rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .main .icon .rocket_icon .Path_29  {
    fill:rgba(77,161,255,1);
stroke:rgba(255,255,255,1);
width:0.065153rem;
height:0.066109rem;
stroke-width:0.3px;
position:absolute;
left:0.000927rem;
top:0.200455rem;
line-height:normal;

}
.ooto_Files_board .side_app_-_ooto_space .main .icon .rocket_icon .Path_30  {
    fill:rgba(77,161,255,1);
stroke:rgba(255,255,255,1);
width:0.037506rem;
height:0.038049rem;
stroke-width:0.3px;
position:absolute;
left:0.052372rem;
top:0.225953rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .base_7 .Rectangle-path_4  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:8.480000rem;
height:8.413333rem;
border-radius:0.080000rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_4 .base_8 .Rectangle-path_5  {
    border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:2.360000rem;
height:2.015742rem;
border-radius:0.066667rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_4 .icon_1 .Combined_Shape .Fill_3_1  {
    fill:rgba(152,152,152,1);
stroke:rgba(255,255,255,1);
width:0.283636rem;
height:0.260870rem;
stroke-width:1.8px;
position:absolute;
left:0.523636rem;
top:0.043478rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_4 .icon_1 .Combined_Shape .Fill_1_1  {
    fill:rgba(152,152,152,1);
stroke:rgba(255,255,255,1);
width:0.829091rem;
height:1.000000rem;
stroke-width:1.8px;
position:absolute;
left:0.000000rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_4 .icon_1 .base_9 .Path_31  {
    fill:rgba(152,152,152,0.1);
stroke:rgba(255,255,255,1);
width:0.616296rem;
height:0.239130rem;
stroke-width:1.8px;
position:absolute;
left:0.038519rem;
top:0.043478rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_4 .icon_1 .base_9 .Path_32  {
    fill:rgba(152,152,152,0.1);
stroke:rgba(255,255,255,1);
width:0.693333rem;
height:0.326087rem;
stroke-width:1.8px;
position:absolute;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_4 .icon_1 .__pptx  {
    position:absolute;
left:-0.480000rem;
top:0.266667rem;
width:1.600000rem;
height:0.666667rem;
transform:scale(0.2);
color:rgba(152,152,152,1);
line-height:normal;
font-size:0.533333rem;
font-family:Helvetica;
letter-spacing:0.004848rem;

}
.ooto_Files_board .open_folder_card .files .file_4 .Hikoot_Presentation  {
    position:absolute;
left:0.373333rem;
top:1.586667rem;
width:1.480000rem;
height:0.186667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.160000rem;
font-family:Helvetica;
letter-spacing:0.001455rem;

}
.ooto_Files_board .open_folder_card .files .file_3 .base_10 .Rectangle-path_6  {
    border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:2.360000rem;
height:2.015742rem;
border-radius:0.066667rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_3 .icon_2 .Combined_Shape_1 .Fill_3_2  {
    fill:rgba(152,152,152,1);
stroke:rgba(255,255,255,1);
width:0.283636rem;
height:0.260870rem;
stroke-width:1.8px;
position:absolute;
left:0.523636rem;
top:0.043478rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_3 .icon_2 .Combined_Shape_1 .Fill_1_2  {
    fill:rgba(152,152,152,1);
stroke:rgba(255,255,255,1);
width:0.829091rem;
height:1.000000rem;
stroke-width:1.8px;
position:absolute;
left:0.000000rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_3 .icon_2 .base_11 .Path_33  {
    fill:rgba(152,152,152,0.1);
stroke:rgba(255,255,255,1);
width:0.616296rem;
height:0.239130rem;
stroke-width:1.8px;
position:absolute;
left:0.038519rem;
top:0.043478rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_3 .icon_2 .base_11 .Path_34  {
    fill:rgba(152,152,152,0.1);
stroke:rgba(255,255,255,1);
width:0.693333rem;
height:0.326087rem;
stroke-width:1.8px;
position:absolute;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_3 .icon_2 .__psd  {
    position:absolute;
left:-0.293333rem;
top:0.266667rem;
width:1.266667rem;
height:0.666667rem;
transform:scale(0.2);
color:rgba(152,152,152,1);
line-height:normal;
font-size:0.533333rem;
font-family:Helvetica;
letter-spacing:0.004848rem;

}
.ooto_Files_board .open_folder_card .files .file_3 .Hikoot_Desktop  {
    position:absolute;
left:0.533333rem;
top:1.586667rem;
width:1.160000rem;
height:0.186667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.160000rem;
font-family:Helvetica;
letter-spacing:0.001455rem;

}
.ooto_Files_board .open_folder_card .files .file_2 .base_12 .Rectangle-path_7  {
    border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:2.360000rem;
height:2.015742rem;
border-radius:0.066667rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_2 .icon_3 .Combined_Shape_2 .Fill_3_3  {
    fill:rgba(255,108,73,1);
stroke:rgba(255,255,255,1);
width:0.283636rem;
height:0.260870rem;
stroke-width:1.8px;
position:absolute;
left:0.523636rem;
top:0.043478rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_2 .icon_3 .Combined_Shape_2 .Fill_1_3  {
    fill:rgba(255,108,73,1);
stroke:rgba(255,255,255,1);
width:0.829091rem;
height:1.000000rem;
stroke-width:1.8px;
position:absolute;
left:0.000000rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_2 .icon_3 .base_13 .Path_35  {
    fill:rgba(255,108,73,0.1);
stroke:rgba(255,255,255,1);
width:0.616296rem;
height:0.239130rem;
stroke-width:1.8px;
position:absolute;
left:0.038519rem;
top:0.043478rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_2 .icon_3 .base_13 .Path_36  {
    fill:rgba(255,108,73,0.1);
stroke:rgba(255,255,255,1);
width:0.693333rem;
height:0.326087rem;
stroke-width:1.8px;
position:absolute;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_2 .icon_3 .__pdf  {
    position:absolute;
left:-0.306667rem;
top:0.266667rem;
width:1.266667rem;
height:0.666667rem;
transform:scale(0.2);
color:rgba(255,109,73,1);
line-height:normal;
font-size:0.533333rem;
font-family:Helvetica;
letter-spacing:0.004848rem;

}
.ooto_Files_board .open_folder_card .files .file_2 .Hikoot_Proposal  {
    position:absolute;
left:0.533333rem;
top:1.573333rem;
width:1.200000rem;
height:0.186667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.160000rem;
font-family:Helvetica;
letter-spacing:0.001455rem;

}
.ooto_Files_board .open_folder_card .files .file_1_-_selected .base_14 .Rectangle-path_8  {
    border-color:rgba(77,161,255,0.07);
border-width:0.053333rem;
border-style:solid;
position:absolute;
width:2.373333rem;
height:2.033852rem;
border-radius:0.066667rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_1_-_selected .icon_4 .Combined_Shape_3 .Fill_3_4  {
    fill:rgba(45,146,255,1);
stroke:rgba(255,255,255,1);
width:0.283636rem;
height:0.260870rem;
stroke-width:1.8px;
position:absolute;
left:0.523636rem;
top:0.043478rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_1_-_selected .icon_4 .Combined_Shape_3 .Fill_1_4  {
    fill:rgba(45,146,255,1);
stroke:rgba(255,255,255,1);
width:0.829091rem;
height:1.000000rem;
stroke-width:1.8px;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_1_-_selected .icon_4 .base_15 .Path_37  {
    fill:rgba(45,146,255,0.1);
stroke:rgba(255,255,255,1);
width:0.616296rem;
height:0.239130rem;
stroke-width:1.8px;
position:absolute;
left:0.038519rem;
top:0.043478rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_1_-_selected .icon_4 .base_15 .Path_38  {
    fill:rgba(45,146,255,0.1);
stroke:rgba(255,255,255,1);
width:0.693333rem;
height:0.326087rem;
stroke-width:1.8px;
position:absolute;
line-height:normal;

}
.ooto_Files_board .open_folder_card .files .file_1_-_selected .icon_4 .__doc  {
    position:absolute;
left:-0.386667rem;
top:0.266667rem;
width:1.400000rem;
height:0.666667rem;
transform:scale(0.2);
color:rgba(39,140,253,1);
line-height:normal;
font-size:0.533333rem;
font-family:Helvetica;
letter-spacing:0.004848rem;

}
.ooto_Files_board .open_folder_card .files .file_1_-_selected .Hikoot_Concept  {
    position:absolute;
left:0.520000rem;
top:1.573333rem;
width:1.160000rem;
height:0.186667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.160000rem;
font-family:Helvetica;
letter-spacing:0.001455rem;

}
.ooto_Files_board .open_folder_card .files .Files  {
    position:absolute;
left:-0.853333rem;
top:-0.333333rem;
width:2.133333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.006667rem;

}
.ooto_Files_board .open_folder_card .folders .folder_2_-_shared_-_recent .base_16 .Rectangle-path_9  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
top:-0.000000rem;
width:2.360000rem;
height:0.693333rem;
border-radius:0.066667rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .folders .folder_2_-_shared_-_recent .oval_2 .Path_39  {
    background-color:rgba(77,161,255,1);
position:absolute;
width:0.106667rem;
height:0.106667rem;
border-radius:0.053333rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .folders .folder_2_-_shared_-_recent .folder_icon_1 .Page_1_2 .Path_40  {
    fill:rgba(45,146,255,1);
stroke:rgba(255,255,255,1);
width:0.333333rem;
height:0.111111rem;
stroke-width:0.2px;
position:absolute;
line-height:normal;

}
.ooto_Files_board .open_folder_card .folders .folder_2_-_shared_-_recent .folder_icon_1 .Rectangle-path_10 .Rectangle-path_11  {
    background-color:rgba(224,238,253,1);
border-color:rgba(77,161,255,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.346667rem;
height:0.240000rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .folders .folder_2_-_shared_-_recent .folder_icon_1 .shared_icon .Fill_1_5 .Path_41  {
    fill:rgba(39,140,253,1);
stroke:rgba(39,140,253,1);
width:0.098626rem;
height:0.084135rem;
stroke-width:0.4px;
position:absolute;
left:0.008337rem;
top:0.006419rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .folders .folder_2_-_shared_-_recent .folder_icon_1 .shared_icon .Fill_1_5 .Path_42  {
    fill:rgba(39,140,253,1);
stroke:rgba(39,140,253,1);
width:0.112445rem;
height:0.096410rem;
stroke-width:0.4px;
position:absolute;
left:-0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .folders .folder_2_-_shared_-_recent .folder_icon_1 .shared_icon .Fill_4 .Path_43  {
    fill:rgba(39,140,253,1);
stroke:rgba(39,140,253,1);
width:0.068081rem;
height:0.111204rem;
stroke-width:0.4px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .folders .folder_2_-_shared_-_recent .Inspiration_1  {
    position:absolute;
left:0.773333rem;
top:0.280000rem;
width:0.760000rem;
height:0.186667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.160000rem;
font-family:Helvetica;
letter-spacing:0.001455rem;

}
.ooto_Files_board .open_folder_card .folders .folder_1 .base_17 .Rectangle-path_12  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
top:-0.000000rem;
width:2.360000rem;
height:0.693333rem;
border-radius:0.066667rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .folders .folder_1 .folder_icon_2 .Page_1_3 .Path_44  {
    fill:rgba(45,146,255,1);
stroke:rgba(255,255,255,1);
width:0.333333rem;
height:0.111111rem;
stroke-width:0.2px;
position:absolute;
line-height:normal;

}
.ooto_Files_board .open_folder_card .folders .folder_1 .folder_icon_2 .Rectangle-path_13 .Rectangle-path_14  {
    background-color:rgba(224,238,253,1);
border-color:rgba(77,161,255,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.346667rem;
height:0.240000rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Files_board .open_folder_card .folders .folder_1 .Base_elements  {
    position:absolute;
left:0.773333rem;
top:0.280000rem;
width:1.080000rem;
height:0.186667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.160000rem;
font-family:Helvetica;
letter-spacing:0.001455rem;

}
.ooto_Files_board .open_folder_card .folders .Folders  {
    position:absolute;
left:-1.413333rem;
top:-0.333333rem;
width:3.533333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.006667rem;

}
.ooto_Files_board .favourites_card .base_18 .Rectangle-path_15  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:4.040000rem;
height:8.413333rem;
border-radius:0.080000rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_6 .base_19 .Rectangle-path_16  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.493333rem;
height:0.693333rem;
border-radius:0.066667rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_6 .folder_icon_3 .Page_1_4 .Path_45  {
    fill:rgba(45,146,255,1);
stroke:rgba(255,255,255,1);
width:0.333333rem;
height:0.107557rem;
stroke-width:0.2px;
position:absolute;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_6 .folder_icon_3 .Rectangle-path_17 .Rectangle-path_18  {
    background-color:rgba(224,238,253,1);
border-color:rgba(77,161,255,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.346667rem;
height:0.231897rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_6 .Amy_s_inspiration  {
    position:absolute;
left:0.960000rem;
top:0.306667rem;
width:1.373333rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.180000rem;
font-family:Helvetica;

}
.ooto_Files_board .favourites_card .folder_6 .options .Path_46  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.058510rem;
height:0.060592rem;
stroke-width:1;
position:absolute;
left:0.207224rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_6 .options .Path_47  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.058123rem;
height:0.060592rem;
stroke-width:1;
position:absolute;
left:0.103805rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_6 .options .Path_48  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.058510rem;
height:0.060592rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_6 .shared_icon_1 .Fill_1_6 .Path_49  {
    fill:rgba(39,140,253,1);
stroke:rgba(39,140,253,1);
width:0.098626rem;
height:0.084135rem;
stroke-width:0.4px;
position:absolute;
left:0.008337rem;
top:0.006419rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_6 .shared_icon_1 .Fill_1_6 .Path_50  {
    fill:rgba(39,140,253,1);
stroke:rgba(39,140,253,1);
width:0.112445rem;
height:0.096410rem;
stroke-width:0.4px;
position:absolute;
left:-0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_6 .shared_icon_1 .Fill_4_1 .Path_51  {
    fill:rgba(39,140,253,1);
stroke:rgba(39,140,253,1);
width:0.068081rem;
height:0.111204rem;
stroke-width:0.4px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_5 .base_20 .Rectangle-path_19  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.493333rem;
height:0.693333rem;
border-radius:0.066667rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_5 .folder_icon_4 .Page_1_5 .Path_52  {
    fill:rgba(45,146,255,1);
stroke:rgba(255,255,255,1);
width:0.333333rem;
height:0.107557rem;
stroke-width:0.2px;
position:absolute;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_5 .folder_icon_4 .Rectangle-path_20 .Rectangle-path_21  {
    background-color:rgba(224,238,253,1);
border-color:rgba(77,161,255,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.346667rem;
height:0.231897rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_5 .HAY  {
    position:absolute;
left:0.960000rem;
top:0.280000rem;
width:0.373333rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.180000rem;
font-family:Helvetica;

}
.ooto_Files_board .favourites_card .folder_5 .options_1 .Path_53  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.058510rem;
height:0.060592rem;
stroke-width:1;
position:absolute;
left:0.207224rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_5 .options_1 .Path_54  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.058123rem;
height:0.060592rem;
stroke-width:1;
position:absolute;
left:0.103805rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_5 .options_1 .Path_55  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.058510rem;
height:0.060592rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_4 .base_21 .Rectangle-path_22  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.493333rem;
height:0.693333rem;
border-radius:0.066667rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_4 .folder_icon_5 .Page_1_6 .Path_56  {
    fill:rgba(45,146,255,1);
stroke:rgba(255,255,255,1);
width:0.333333rem;
height:0.107557rem;
stroke-width:0.2px;
position:absolute;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_4 .folder_icon_5 .Rectangle-path_23 .Rectangle-path_24  {
    background-color:rgba(224,238,253,1);
border-color:rgba(77,161,255,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.346667rem;
height:0.231897rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_4 .Daily_reports  {
    position:absolute;
left:0.960000rem;
top:0.280000rem;
width:1.013333rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.180000rem;
font-family:Helvetica;

}
.ooto_Files_board .favourites_card .folder_4 .options_2 .Path_57  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.058510rem;
height:0.060592rem;
stroke-width:1;
position:absolute;
left:0.207224rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_4 .options_2 .Path_58  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.058123rem;
height:0.060592rem;
stroke-width:1;
position:absolute;
left:0.103805rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_4 .options_2 .Path_59  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.058510rem;
height:0.060592rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_3 .base_22 .Rectangle-path_25  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.493333rem;
height:0.706667rem;
border-radius:0.066667rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_3 .Design_resources  {
    position:absolute;
left:0.920000rem;
top:0.266667rem;
width:1.413333rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.180000rem;
font-family:Helvetica;

}
.ooto_Files_board .favourites_card .folder_3 .folder_icon_6 .Page_1_7 .Path_60  {
    fill:rgba(45,146,255,1);
stroke:rgba(255,255,255,1);
width:0.333333rem;
height:0.107557rem;
stroke-width:0.2px;
position:absolute;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_3 .folder_icon_6 .Rectangle-path_26 .Rectangle-path_27  {
    background-color:rgba(224,238,253,1);
border-color:rgba(77,161,255,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.346667rem;
height:0.231897rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_3 .options_3 .Path_61  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.055574rem;
height:0.057552rem;
stroke-width:1;
position:absolute;
left:0.196826rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_3 .options_3 .Path_62  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.055207rem;
height:0.057552rem;
stroke-width:1;
position:absolute;
left:0.098597rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_3 .options_3 .Path_63  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.055574rem;
height:0.057552rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_2 .base_23 .Rectangle-path_28  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.493333rem;
height:0.693333rem;
border-radius:0.066667rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_2 .folder_icon_7 .Page_1_8 .Path_64  {
    fill:rgba(45,146,255,1);
stroke:rgba(255,255,255,1);
width:0.333333rem;
height:0.107557rem;
stroke-width:0.2px;
position:absolute;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_2 .folder_icon_7 .Rectangle-path_29 .Rectangle-path_30  {
    background-color:rgba(224,238,253,1);
border-color:rgba(77,161,255,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.346667rem;
height:0.231897rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_2 .Shared_with_me  {
    position:absolute;
left:0.960000rem;
top:0.280000rem;
width:1.253333rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.180000rem;
font-family:Helvetica;

}
.ooto_Files_board .favourites_card .folder_2 .options_4 .Path_65  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.058510rem;
height:0.060592rem;
stroke-width:1;
position:absolute;
left:0.207224rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_2 .options_4 .Path_66  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.058123rem;
height:0.060592rem;
stroke-width:1;
position:absolute;
left:0.103805rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_2 .options_4 .Path_67  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.058510rem;
height:0.060592rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_1_-_active .base_24 .Rectangle-path_31  {
    background-color:rgba(77,161,255,1);
position:absolute;
width:3.506667rem;
height:0.706667rem;
border-radius:0.066667rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_1_-_active .foldr_icon .Page_1_9 .Path_68  {
    fill:rgba(255,255,255,1);
stroke:rgba(255,255,255,1);
width:0.333333rem;
height:0.107557rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_1_-_active .foldr_icon .Rectangle-path_32 .Rectangle-path_33  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:0.360000rem;
height:0.245230rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_1_-_active .My_files  {
    position:absolute;
left:0.960000rem;
top:0.266667rem;
width:0.613333rem;
height:0.213333rem;
color:rgba(255,255,255,1);
line-height:normal;
font-size:0.180000rem;
font-family:Helvetica;

}
.ooto_Files_board .favourites_card .folder_1_-_active .options_5 .Path_69  {
    fill:rgba(255,255,255,1);
width:0.055574rem;
height:0.057552rem;
stroke-width:1;
position:absolute;
left:0.196826rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_1_-_active .options_5 .Path_70  {
    fill:rgba(255,255,255,1);
width:0.055207rem;
height:0.057552rem;
stroke-width:1;
position:absolute;
left:0.098597rem;
line-height:normal;

}
.ooto_Files_board .favourites_card .folder_1_-_active .options_5 .Path_71  {
    fill:rgba(255,255,255,1);
width:0.055574rem;
height:0.057552rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .favourites_card .Favourites  {
    position:absolute;
left:-1.520000rem;
top:0.080000rem;
width:4.666667rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.006667rem;

}
.ooto_Files_board .breadcrumbs .base_25 .Path_72  {
    background-color:rgba(233,239,243,0.4800000190734863);
position:absolute;
width:4.333333rem;
height:0.613333rem;
border-radius:0.053333rem;
line-height:normal;

}
.ooto_Files_board .breadcrumbs .active .Path_73  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:1.413333rem;
height:0.453333rem;
border-radius:0.040000rem;
line-height:normal;

}
.ooto_Files_board .breadcrumbs .Hikoot_app  {
    position:absolute;
left:0.333333rem;
top:0.213333rem;
width:0.840000rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Files_board .breadcrumbs .My_files_1  {
    position:absolute;
left:3.146667rem;
top:0.213333rem;
width:0.600000rem;
height:0.213333rem;
opacity:0.4491055253623188;
color:rgba(152,152,152,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Files_board .breadcrumbs .New_bizz  {
    position:absolute;
left:1.906667rem;
top:0.213333rem;
width:0.706667rem;
height:0.213333rem;
opacity:0.4491055253623188;
color:rgba(152,152,152,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Files_board .add_files_button .base_26 .Rectangle-path_34  {
    background-color:rgba(77,161,255,1);
position:absolute;
width:1.053333rem;
height:0.373333rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Files_board .add_files_button .___Add_files  {
    position:absolute;
left:-1.253333rem;
top:-0.266667rem;
width:3.466667rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(255,255,255,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;

}
.ooto_Files_board .Documents  {
    position:absolute;
left:2.133333rem;
top:2.000000rem;
width:2.440000rem;
height:0.613333rem;
color:rgba(35,52,56,1);
line-height:normal;
font-size:0.506667rem;
font-family:Helvetica;
letter-spacing:-0.014533rem;

}
.ooto_Files_board .main_nav .line .separator_3 .Rectangle-path_35  {
    background-color:rgba(197,197,197,1);
position:absolute;
width:13.653333rem;
height:0.013333rem;
line-height:normal;

}
.ooto_Files_board .main_nav .logo ._Path_ ._Path_-path  {
    fill:rgba(77,161,255,0.3);
width:0.120927rem;
height:0.276471rem;
stroke-width:1;
position:absolute;
left:0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Files_board .main_nav .logo ._Path_3 ._Path_3-path  {
    fill:rgba(77,161,255,0.2984601449275363);
width:0.547274rem;
height:0.392448rem;
stroke-width:1;
position:absolute;
top:-0.000001rem;
line-height:normal;

}
.ooto_Files_board .main_nav .logo ._Path_5 ._Path_5-path  {
    fill:rgba(77,161,255,1);
width:0.532375rem;
height:0.307554rem;
stroke-width:1;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Files_board .main_nav .indicator .Path_74  {
    fill:rgba(65,145,236,1);
width:0.136557rem;
height:0.586667rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .main_nav .settings_icon .Fill_1_7 .Path_75  {
    fill:rgba(0,121,255,1);
width:0.255652rem;
height:0.255652rem;
stroke-width:1;
position:absolute;
left:0.012174rem;
top:0.012174rem;
line-height:normal;

}
.ooto_Files_board .main_nav .settings_icon .Fill_1_7 .Path_76  {
    fill:rgba(0,121,255,1);
width:0.280000rem;
height:0.280000rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .main_nav .settings_icon .Fill_4_2 .Path_77  {
    fill:rgba(0,121,255,1);
width:0.085217rem;
height:0.085217rem;
stroke-width:1;
position:absolute;
left:0.012174rem;
top:0.012174rem;
line-height:normal;

}
.ooto_Files_board .main_nav .settings_icon .Fill_4_2 .Path_78  {
    fill:rgba(0,121,255,1);
width:0.109565rem;
height:0.109565rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Files_board .main_nav .conversations_icon .Fill_1_8 .Path_79  {
    fill:rgba(0,121,255,1);
width:0.198921rem;
height:0.180635rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .main_nav .conversations_icon .Fill_4_3 .Path_80  {
    fill:rgba(0,121,255,1);
width:0.198743rem;
height:0.193907rem;
stroke-width:1;
position:absolute;
left:0.018438rem;
top:0.012556rem;
line-height:normal;

}
.ooto_Files_board .main_nav .conversations_icon .Fill_4_3 .Path_81  {
    fill:rgba(0,121,255,1);
width:0.229627rem;
height:0.219019rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .main_nav .files_board_icon .Fill_1_9 .Path_82  {
    fill:rgba(0,121,255,1);
width:0.211984rem;
height:0.265959rem;
stroke-width:1;
position:absolute;
left:0.012470rem;
top:0.012665rem;
line-height:normal;

}
.ooto_Files_board .main_nav .files_board_icon .Fill_1_9 .Path_83  {
    fill:rgba(0,121,255,1);
width:0.236923rem;
height:0.291288rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .main_nav .files_board_icon .Fill_3_5 .Path_84  {
    fill:rgba(0,121,255,1);
width:0.081053rem;
height:0.075988rem;
stroke-width:1;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Files_board .main_nav .files_board_icon .Fill_5 .Path_85  {
    fill:rgba(0,121,255,1);
width:0.087287rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .main_nav .files_board_icon .Fill_7 .Path_86  {
    fill:rgba(0,121,255,1);
width:0.162105rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .main_nav .files_board_icon .Fill_9 .Path_87  {
    fill:rgba(0,121,255,1);
width:0.162105rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .main_nav .files_board_icon .Fill_11 .Path_88  {
    fill:rgba(0,121,255,1);
width:0.162105rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .main_nav .meetings_icon .Fill_1_10 .Path_89  {
    fill:rgba(0,121,255,1);
width:0.124142rem;
height:0.145872rem;
stroke-width:1;
position:absolute;
left:0.011782rem;
top:0.011758rem;
line-height:normal;

}
.ooto_Files_board .main_nav .meetings_icon .Fill_1_10 .Path_90  {
    fill:rgba(0,121,255,1);
width:0.147707rem;
height:0.169388rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .main_nav .meetings_icon .Fill_4_4 .Path_91  {
    fill:rgba(0,121,255,1);
width:0.025335rem;
height:0.022598rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Files_board .main_nav .meetings_icon .Fill_6 .Path_92  {
    fill:rgba(0,121,255,1);
width:0.156984rem;
height:0.122207rem;
stroke-width:1;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Files_board .main_nav .meetings_icon .Fill_9_1 .Path_93  {
    fill:rgba(0,121,255,1);
width:0.070641rem;
height:0.064668rem;
stroke-width:1;
position:absolute;
left:0.011773rem;
top:0.011758rem;
line-height:normal;

}
.ooto_Files_board .main_nav .meetings_icon .Fill_9_1 .Path_94  {
    fill:rgba(0,121,255,1);
width:0.094181rem;
height:0.088183rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .main_nav .meetings_icon .Fill_12 .Path_95  {
    fill:rgba(0,121,255,1);
width:0.082408rem;
height:0.011758rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Files_board .main_nav .meetings_icon .Fill_14 .Path_96  {
    fill:rgba(0,121,255,1);
width:0.011773rem;
height:0.035273rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .main_nav .meetings_icon .Fill_16 .Path_97  {
    fill:rgba(0,121,255,1);
width:0.011773rem;
height:0.035273rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .main_nav .sessions_icon .Fill_6_1 .Path_98  {
    fill:rgba(0,121,255,1);
width:0.171442rem;
height:0.252984rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
top:0.000000rem;
line-height:normal;

}
.ooto_Files_board .main_nav .sessions_icon .Fill_3_6 .Path_99  {
    fill:rgba(0,121,255,1);
width:0.247018rem;
height:0.113956rem;
stroke-width:1;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Files_board .main_nav .sessions_icon .Fill_1_11 .Path_100  {
    fill:rgba(0,121,255,1);
width:0.112003rem;
height:0.130133rem;
stroke-width:1;
position:absolute;
left:0.013620rem;
top:0.013394rem;
line-height:normal;

}
.ooto_Files_board .main_nav .sessions_icon .Fill_1_11 .Path_101  {
    fill:rgba(0,121,255,1);
width:0.139238rem;
height:0.156922rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Files_board .main_nav .dashboard_icon .Fill_1_12 .Path_102  {
    fill:rgba(0,121,255,1);
width:0.253720rem;
height:0.096175rem;
stroke-width:1;
position:absolute;
left:0.026244rem;
top:0.014125rem;
line-height:normal;

}
.ooto_Files_board .main_nav .dashboard_icon .Fill_1_12 .Path_103  {
    fill:rgba(0,121,255,1);
width:0.306215rem;
height:0.124428rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .main_nav .dashboard_icon .Fill_4_5 .Path_104  {
    fill:rgba(0,121,255,1);
width:0.306215rem;
height:0.096732rem;
stroke-width:1;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Files_board .main_nav .dashboard_icon .Fill_6_2 .Path_105  {
    fill:rgba(0,121,255,1);
width:0.306215rem;
height:0.095460rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Files_board .top_nav .separator_4 .Rectangle-path_36  {
    background-color:rgba(231,233,234,1);
position:absolute;
width:19.186667rem;
height:0.013333rem;
line-height:normal;

}
.ooto_Files_board .top_nav .Search .Find_everything_  {
    position:absolute;
left:0.453333rem;
top:0.026667rem;
width:1.680000rem;
height:0.346667rem;
color:rgba(152,152,152,0.5);
line-height:0.346667rem;
font-size:0.213333rem;
font-family:Helvetica;

}
.ooto_Files_board .top_nav .Search .search_icon .Path_106  {
    fill:rgba(152,152,152,0.61);
stroke:rgba(255,255,255,1);
width:0.271459rem;
height:0.287120rem;
stroke-width:0.6px;
position:absolute;
line-height:normal;

}
.ooto_Files_board .top_nav .Search .search_icon .Path_107  {
    fill:rgba(152,152,152,0.61);
stroke:rgba(255,255,255,1);
width:0.168432rem;
height:0.175698rem;
stroke-width:0.6px;
position:absolute;
left:0.033671rem;
top:0.035152rem;
line-height:normal;

}
.ooto_Files_board .top_nav .Oval_2 .Path_108  {
    border-color:rgba(255,255,255,1);
border-width:0.026667rem;
border-style:solid;
position:absolute;
width:0.746667rem;
height:0.746667rem;
background-image:url(../images/2ea6cc5cf7fd2bf11fcde7a244868cc18d0f853c.png);
border-radius:0.386667rem;
line-height:normal;

}
.ooto_Files_board .top_nav .invite_button .Rect .Rectangle-path_37  {
    background-color:rgba(255,255,255,1);
border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.866667rem;
height:0.360000rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Files_board .top_nav .invite_button .Invite  {
    position:absolute;
left:-0.386667rem;
top:-0.240000rem;
width:1.800000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(76,160,255,0.742017663);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;

}
.ooto_Files_board .top_nav .invite_button .paper_plane_icon .Fill_1_13 .Path_109  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.109585rem;
height:0.093483rem;
stroke-width:0.3px;
position:absolute;
left:0.009264rem;
top:0.007132rem;
line-height:normal;

}
.ooto_Files_board .top_nav .invite_button .paper_plane_icon .Fill_1_13 .Path_110  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.124939rem;
height:0.107122rem;
stroke-width:0.3px;
position:absolute;
left:-0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Files_board .top_nav .invite_button .paper_plane_icon .Fill_4_6 .Path_111  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.075646rem;
height:0.123560rem;
stroke-width:0.3px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}