
.ooto_Meetings  {
    position:absolute;
width:19.200000rem;
height:12.000000rem;
background-color:rgba(250,251,252,1);

}
.ooto_Meetings .base_41 .Path_202  {
    background-color:rgba(243,248,249,1);
position:absolute;
width:17.880000rem;
height:10.666667rem;

}
.ooto_Meetings .side_app_-_calendar .base_42 .Rectangle-path_71  {
    background-color:rgba(255,255,255,0.7400000095367432);
position:absolute;
width:3.760000rem;
height:10.693333rem;

}
.ooto_Meetings .side_app_-_calendar .accounts .add_account_button .base_43 .Rectangle-path_72  {
    background-color:rgba(255,255,255,1);
border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:1.266667rem;
height:0.360000rem;
border-radius:0.026667rem;

}
.ooto_Meetings .side_app_-_calendar .accounts .add_account_button .___Add_Account  {
    position:absolute;
left:-1.773333rem;
top:-0.253333rem;
width:4.800000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(76,160,255,0.742017663);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;

}
.ooto_Meetings .side_app_-_calendar .accounts .adrian_madacs_gmail_  {
    position:absolute;
left:-3.720000rem;
top:-1.053333rem;
width:9.933333rem;
height:3.733333rem;
transform:scale(0.2);
color:rgba(74,73,74,1);
line-height:1.866667rem;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.042778rem;

}
.ooto_Meetings .side_app_-_calendar .accounts .blue_tag .Path_203  {
    background-color:rgba(77,161,255,1);
position:absolute;
width:0.093333rem;
height:0.093333rem;
border-radius:1.333333rem;

}
.ooto_Meetings .side_app_-_calendar .accounts .red_tag .Path_204  {
    background-color:rgba(255,108,73,1);
position:absolute;
width:0.093333rem;
height:0.093333rem;
border-radius:1.333333rem;

}
.ooto_Meetings .side_app_-_calendar .accounts .Accounts  {
    position:absolute;
width:1.093333rem;
height:0.226667rem;
color:#000000;
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:0.005333rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .separator_9 .Path_205  {
    background-color:rgba(238,238,238,1);
position:absolute;
width:2.653333rem;
height:0.013333rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._28-3 ._25  {
    position:absolute;
left:-0.400000rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(229,229,229,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._28-3 ._26  {
    position:absolute;
left:0.040000rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(229,229,229,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._28-3 ._27  {
    position:absolute;
left:0.453333rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(229,229,229,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._28-3 ._28  {
    position:absolute;
left:0.826667rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(229,229,229,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._28-3 ._1  {
    position:absolute;
left:1.533333rem;
top:-0.333333rem;
width:0.533333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(229,229,229,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._28-3 ._2  {
    position:absolute;
left:1.933333rem;
top:-0.333333rem;
width:0.533333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._28-3 ._3  {
    position:absolute;
left:2.306667rem;
top:-0.333333rem;
width:0.533333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._4-10 ._4  {
    position:absolute;
left:-0.213333rem;
top:0.280000rem;
width:0.533333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._4-10 ._5  {
    position:absolute;
left:0.226667rem;
top:0.280000rem;
width:0.533333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._4-10 ._6  {
    position:absolute;
left:0.640000rem;
top:0.280000rem;
width:0.533333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._4-10 ._7  {
    position:absolute;
left:1.013333rem;
top:0.280000rem;
width:0.533333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._4-10 .placeholder .Path_206  {
    background-color:rgba(77,161,255,0.1000000014901161);
position:absolute;
width:0.373333rem;
height:0.373333rem;
border-radius:0.053333rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._4-10 .placeholder_1 .Path_207  {
    background-color:rgba(77,161,255,1);
position:absolute;
width:0.066667rem;
height:0.066667rem;
border-radius:1.333333rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._4-10 .placeholder_2 .Path_208  {
    background-color:rgba(77,161,255,1);
position:absolute;
width:0.066667rem;
height:0.066667rem;
border-radius:1.333333rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._4-10 .placeholder_3 .Path_209  {
    background-color:rgba(245,245,245,1);
position:absolute;
width:0.373333rem;
height:0.373333rem;
border-radius:0.053333rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._4-10 .placeholder_4 .Path_210  {
    background-color:rgba(255,108,73,1);
position:absolute;
width:0.066667rem;
height:0.066667rem;
border-radius:1.333333rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._4-10 ._8  {
    position:absolute;
left:1.480000rem;
top:0.280000rem;
width:0.533333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._4-10 ._9  {
    position:absolute;
left:1.880000rem;
top:0.280000rem;
width:0.533333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._4-10 ._10  {
    position:absolute;
left:2.013333rem;
top:0.280000rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._11-17 ._11  {
    position:absolute;
left:-0.373333rem;
top:-0.333333rem;
width:0.933333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._11-17 ._12  {
    position:absolute;
left:0.040000rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._11-17 ._13  {
    position:absolute;
left:0.453333rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._11-17 ._14  {
    position:absolute;
left:0.826667rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._11-17 ._15  {
    position:absolute;
left:1.293333rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._11-17 ._16  {
    position:absolute;
left:1.693333rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._11-17 ._17  {
    position:absolute;
left:2.066667rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._18-24 ._18  {
    position:absolute;
left:-0.400000rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._18-24 ._19  {
    position:absolute;
left:0.040000rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._18-24 ._20  {
    position:absolute;
left:0.453333rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._18-24 ._21  {
    position:absolute;
left:0.826667rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._18-24 ._22  {
    position:absolute;
left:1.293333rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._18-24 ._23  {
    position:absolute;
left:1.693333rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._18-24 ._24  {
    position:absolute;
left:2.066667rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._25-31 ._25_1  {
    position:absolute;
left:-0.400000rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._25-31 ._26_1  {
    position:absolute;
left:0.040000rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._25-31 ._27_1  {
    position:absolute;
left:0.453333rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._25-31 ._28_1  {
    position:absolute;
left:0.826667rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._25-31 ._29  {
    position:absolute;
left:1.293333rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._25-31 ._30  {
    position:absolute;
left:1.693333rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .content ._25-31 ._31  {
    position:absolute;
left:2.066667rem;
top:-0.333333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(153,153,153,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .header .MO  {
    position:absolute;
left:-0.533333rem;
top:0.440000rem;
width:1.333333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(127,127,127,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .header .TU  {
    position:absolute;
left:0.013333rem;
top:0.440000rem;
width:1.133333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(127,127,127,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .header .WE  {
    position:absolute;
left:0.333333rem;
top:0.440000rem;
width:1.333333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(127,127,127,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .header .TH  {
    position:absolute;
left:0.800000rem;
top:0.440000rem;
width:1.133333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(127,127,127,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .header .FR  {
    position:absolute;
left:1.266667rem;
top:0.440000rem;
width:1.133333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(127,127,127,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .header .SA  {
    position:absolute;
left:1.666667rem;
top:0.440000rem;
width:1.133333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(127,127,127,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .header .SU  {
    position:absolute;
left:2.013333rem;
top:0.440000rem;
width:1.200000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(127,127,127,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.061111rem;

}
.ooto_Meetings .side_app_-_calendar .calendar .header .Date_selector .March_2017  {
    position:absolute;
left:0.733333rem;
top:0.013333rem;
width:0.986667rem;
height:0.373333rem;
color:rgba(152,152,152,1);
line-height:0.373333rem;
font-size:0.186667rem;
font-family:Helvetica;

}
.ooto_Meetings .side_app_-_calendar .calendar .header .Date_selector .arrow_ .chevron_4 .Path_211  {
    fill:rgba(77,161,255,1);
stroke:rgba(255,255,255,1);
width:0.079867rem;
height:0.137153rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .side_app_-_calendar .calendar .header .Date_selector .arrow__1 .chevron_5 .Path_212  {
    fill:rgba(77,161,255,1);
stroke:rgba(255,255,255,1);
width:0.079867rem;
height:0.137153rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .side_app_-_calendar ._02_March  {
    position:absolute;
left:1.600000rem;
top:0.866667rem;
width:0.960000rem;
height:0.480000rem;
color:#000000;
line-height:normal;
font-size:0.240000rem;
font-family:Helvetica;

}
.ooto_Meetings .side_app_-_calendar .Calendar  {
    position:absolute;
left:1.613333rem;
top:0.533333rem;
width:1.093333rem;
height:0.320000rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.266667rem;
font-family:Helvetica;

}
.ooto_Meetings .side_app_-_calendar .icon_6 .base_44 .Path_213  {
    background-color:rgba(255,208,18,1);
position:absolute;
width:0.733613rem;
height:0.733613rem;
border-radius:0.053333rem;

}
.ooto_Meetings .side_app_-_calendar .icon_6 .calendar_icon_1 .Path_214  {
    fill:rgba(255,255,255,1);
width:0.346667rem;
height:0.316386rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
top:0.000000rem;
line-height:normal;

}
.ooto_Meetings .side_app_-_calendar .icon_6 .calendar_icon_1 .Path_215  {
    fill:rgba(255,255,255,1);
width:0.288091rem;
height:0.047750rem;
stroke-width:1;
position:absolute;
left:0.028867rem;
top:0.057712rem;
line-height:normal;

}
.ooto_Meetings .side_app_-_calendar .icon_6 .calendar_icon_1 .Path_216  {
    fill:rgba(255,255,255,1);
width:0.288932rem;
height:0.150725rem;
stroke-width:1;
position:absolute;
left:0.028867rem;
top:0.135607rem;
line-height:normal;

}
.ooto_Meetings .side_app_-_calendar .icon_6 .calendar_icon_1 .Path_217  {
    fill:rgba(255,255,255,1);
width:0.060221rem;
height:0.059936rem;
stroke-width:1;
position:absolute;
left:0.075145rem;
top:0.181261rem;
line-height:normal;

}
.ooto_Meetings .side_app_-_calendar .icon_6 .calendar_icon_1 .Path_218  {
    fill:rgba(255,255,255,1);
width:0.015072rem;
height:0.015072rem;
stroke-width:1;
position:absolute;
left:0.072931rem;
top:0.239172rem;
line-height:normal;

}
.ooto_Meetings .scroll .Rectangle-path_73 .Rectangle-path_74  {
    background-color:rgba(233,239,243,0.4899999797344208);
position:absolute;
width:12.893333rem;
height:0.093333rem;
border-radius:0.373333rem;

}
.ooto_Meetings .scroll .Rectangle-path_75 .Rectangle-path_76  {
    background-color:rgba(152,152,152,0.2);
position:absolute;
width:1.333333rem;
height:0.093333rem;
border-radius:0.373333rem;

}
.ooto_Meetings .card_3 .Main_Card .base_45 .background .Rectangle-path_77  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:4.040000rem;
height:6.693333rem;
border-radius:0.080000rem;

}
.ooto_Meetings .card_3 .Main_Card .base_45 .indicator_inactive .Rectangle-path_78  {
    background-color:rgba(152,152,152,0.2);
position:absolute;
width:0.533333rem;
height:0.066667rem;
border-radius:0.146667rem;

}
.ooto_Meetings .card_3 .Main_Card .base_45 ._06th_Monday  {
    position:absolute;
left:0.306667rem;
top:0.320000rem;
width:1.266667rem;
height:0.253333rem;
color:#000000;
line-height:normal;
font-size:0.213333rem;
font-family:Helvetica;
letter-spacing:0.001733rem;

}
.ooto_Meetings .card_3 .Main_Card .event_3 .base_46 .Rectangle-path_79  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.493333rem;
height:1.000000rem;
border-radius:0.080000rem;

}
.ooto_Meetings .card_3 .Main_Card .event_3 .Daily_report  {
    position:absolute;
left:0.200000rem;
top:0.520000rem;
width:0.920000rem;
height:0.226667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.003825rem;

}
.ooto_Meetings .card_3 .Main_Card .event_3 ._16_35_AM_-_17_00_AM  {
    position:absolute;
left:-2.333333rem;
top:-0.120000rem;
width:6.333333rem;
height:0.866667rem;
transform:scale(0.2);
opacity:0.6963881340579711;
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:-0.021035rem;

}
.ooto_Meetings .card_3 .Main_Card .event_3 .pin_icon .Path_219  {
    fill:rgba(77,161,255,1);
width:0.066667rem;
height:0.133337rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .card_3 .Main_Card .event_2 .base_47 .Rectangle-path_80  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.493333rem;
height:1.720000rem;
border-radius:0.080000rem;

}
.ooto_Meetings .card_3 .Main_Card .event_2 .team_1 .send_invitation_button .Rect_6 .Rectangle-path_81  {
    background-color:rgba(255,255,255,1);
border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.306667rem;
height:0.306667rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_3 .Main_Card .event_2 .team_1 .send_invitation_button .Fill_1_23 .Path_220  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.109585rem;
height:0.093483rem;
stroke-width:0.3px;
position:absolute;
left:0.009264rem;
top:0.007132rem;
line-height:normal;

}
.ooto_Meetings .card_3 .Main_Card .event_2 .team_1 .send_invitation_button .Fill_1_23 .Path_221  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.124939rem;
height:0.107122rem;
stroke-width:0.3px;
position:absolute;
left:-0.000000rem;
top:0.000000rem;
line-height:normal;

}
.ooto_Meetings .card_3 .Main_Card .event_2 .team_1 .send_invitation_button .Fill_4_13 .Path_222  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.075646rem;
height:0.123560rem;
stroke-width:0.3px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .card_3 .Main_Card .event_2 .team_1 .user_1_1 .Rect_7 .Rectangle-path_82  {
    background-color:rgba(255,108,73,0.1000000014901161);
position:absolute;
width:0.333333rem;
height:0.333333rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_3 .Main_Card .event_2 .team_1 .user_1_1 .LA_1  {
    position:absolute;
left:-0.200000rem;
top:-0.200000rem;
width:0.733333rem;
height:0.733333rem;
transform:scale(0.2);
opacity:0.75;
color:rgba(255,109,73,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;
letter-spacing:-0.015646rem;

}
.ooto_Meetings .card_3 .Main_Card .event_2 .Open_discussion  {
    position:absolute;
left:0.200000rem;
top:0.586667rem;
width:1.333333rem;
height:0.226667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.003825rem;

}
.ooto_Meetings .card_3 .Main_Card .event_2 ._14_00_AM_-_16_30_AM  {
    position:absolute;
left:-2.333333rem;
top:-0.133333rem;
width:6.333333rem;
height:0.866667rem;
transform:scale(0.2);
opacity:0.6963881340579711;
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:-0.021035rem;

}
.ooto_Meetings .card_3 .Main_Card .event_1 .base_48 .Rectangle-path_83  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.493333rem;
height:1.720000rem;
border-radius:0.080000rem;

}
.ooto_Meetings .card_3 .Main_Card .event_1 .team_2 .send_invitation_button_1 .base_49 .Rectangle-path_84  {
    background-color:rgba(255,255,255,1);
border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.306667rem;
height:0.306667rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_3 .Main_Card .event_1 .team_2 .send_invitation_button_1 .Fill_1_24 .Path_223  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.109585rem;
height:0.093483rem;
stroke-width:0.3px;
position:absolute;
left:0.009264rem;
top:0.007132rem;
line-height:normal;

}
.ooto_Meetings .card_3 .Main_Card .event_1 .team_2 .send_invitation_button_1 .Fill_1_24 .Path_224  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.124939rem;
height:0.107122rem;
stroke-width:0.3px;
position:absolute;
left:-0.000000rem;
top:0.000000rem;
line-height:normal;

}
.ooto_Meetings .card_3 .Main_Card .event_1 .team_2 .send_invitation_button_1 .Fill_4_14 .Path_225  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.075646rem;
height:0.123560rem;
stroke-width:0.3px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .card_3 .Main_Card .event_1 .team_2 .user_2_1 .Rect_8 .Rectangle-path_85  {
    background-color:rgba(255,208,18,0.1000000014901161);
position:absolute;
width:0.333333rem;
height:0.333333rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_3 .Main_Card .event_1 .team_2 .user_2_1 .ES_1  {
    position:absolute;
left:-0.226667rem;
top:-0.200000rem;
width:0.800000rem;
height:0.733333rem;
transform:scale(0.2);
opacity:0.75;
color:rgba(255,207,17,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;
letter-spacing:-0.015646rem;

}
.ooto_Meetings .card_3 .Main_Card .event_1 .team_2 .user_1_2 .Rect_9 .Rectangle-path_86  {
    background-color:rgba(77,161,255,0.1000000014901161);
position:absolute;
width:0.333333rem;
height:0.333333rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_3 .Main_Card .event_1 .team_2 .user_1_2 .TX  {
    position:absolute;
left:-0.240000rem;
top:-0.200000rem;
width:0.800000rem;
height:0.733333rem;
transform:scale(0.2);
opacity:0.75;
color:rgba(76,160,255,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;
letter-spacing:-0.015646rem;

}
.ooto_Meetings .card_3 .Main_Card .event_1 .Start_usability_test  {
    position:absolute;
left:0.200000rem;
top:0.586667rem;
width:1.640000rem;
height:0.226667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.003825rem;

}
.ooto_Meetings .card_3 .Main_Card .event_1 ._09_50_AM_-_13_25_AM  {
    position:absolute;
left:-2.333333rem;
top:-0.133333rem;
width:6.333333rem;
height:0.866667rem;
transform:scale(0.2);
opacity:0.6963881340579711;
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:-0.021035rem;

}
.ooto_Meetings .card_3 .Main_Card .event_1 ._10_attachements  {
    position:absolute;
left:0.506667rem;
top:0.973333rem;
width:4.666667rem;
height:0.800000rem;
transform:scale(0.2);
opacity:0.6963881340579711;
color:rgba(133,133,133,1);
line-height:normal;
font-size:0.666667rem;
font-family:Helvetica;
letter-spacing:-0.019123rem;

}
.ooto_Meetings .card_3 .Main_Card .event_1 .pin_icon_1 .Path_226  {
    fill:rgba(77,161,255,1);
width:0.066667rem;
height:0.133337rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .card_2 .base_50 .background_1 .Rectangle-path_87  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:4.040000rem;
height:5.840000rem;
border-radius:0.080000rem;

}
.ooto_Meetings .card_2 .base_50 .indicator_inacrive .Rectangle-path_88  {
    background-color:rgba(152,152,152,0.2);
position:absolute;
width:0.533333rem;
height:0.066667rem;
border-radius:0.146667rem;

}
.ooto_Meetings .card_2 .base_50 ._03rd_Friday  {
    position:absolute;
left:0.306667rem;
top:0.320000rem;
width:1.106667rem;
height:0.253333rem;
color:#000000;
line-height:normal;
font-size:0.213333rem;
font-family:Helvetica;
letter-spacing:0.001733rem;

}
.ooto_Meetings .card_2 .event_2_1 .base_51 .Rectangle-path_89  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.493333rem;
height:2.106667rem;
border-radius:0.080000rem;

}
.ooto_Meetings .card_2 .event_2_1 .team_3 .send_invitation_button_2 .Rect_10 .Rectangle-path_90  {
    background-color:rgba(255,255,255,1);
border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.306667rem;
height:0.306667rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_2 .event_2_1 .team_3 .send_invitation_button_2 .Fill_1_25 .Path_227  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.109585rem;
height:0.094202rem;
stroke-width:0.3px;
position:absolute;
left:0.009264rem;
top:0.007187rem;
line-height:normal;

}
.ooto_Meetings .card_2 .event_2_1 .team_3 .send_invitation_button_2 .Fill_1_25 .Path_228  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.124939rem;
height:0.107946rem;
stroke-width:0.3px;
position:absolute;
left:-0.000000rem;
top:0.000000rem;
line-height:normal;

}
.ooto_Meetings .card_2 .event_2_1 .team_3 .send_invitation_button_2 .Fill_4_15 .Path_229  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.075646rem;
height:0.124510rem;
stroke-width:0.3px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .card_2 .event_2_1 .team_3 .user_3_1 .Rect_11 .Rectangle-path_91  {
    background-color:rgba(124,77,195,0.1);
position:absolute;
width:0.333333rem;
height:0.335897rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_2 .event_2_1 .team_3 .user_3_1 .FS  {
    position:absolute;
left:-0.200000rem;
top:-0.493333rem;
width:0.733333rem;
height:1.466667rem;
transform:scale(0.2);
color:rgba(123,76,196,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;
letter-spacing:-0.015646rem;

}
.ooto_Meetings .card_2 .event_2_1 .team_3 .user_2_2 .Rect_12 .Rectangle-path_92  {
    background-color:rgba(77,161,255,0.1);
position:absolute;
width:0.333333rem;
height:0.335897rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_2 .event_2_1 .team_3 .user_2_2 .AM_1  {
    position:absolute;
left:-0.360000rem;
top:-0.200000rem;
width:1.066667rem;
height:0.733333rem;
transform:scale(0.2);
color:rgba(76,160,255,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;
letter-spacing:-0.015646rem;

}
.ooto_Meetings .card_2 .event_2_1 .team_3 .user_1_3 .Rect_13 .Rectangle-path_93  {
    background-color:rgba(255,108,73,0.1);
position:absolute;
width:0.333333rem;
height:0.335897rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_2 .event_2_1 .team_3 .user_1_3 .LA_2  {
    position:absolute;
left:-0.226667rem;
top:-0.199282rem;
width:0.800000rem;
height:0.733333rem;
transform:scale(0.2);
color:rgba(255,109,73,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;
letter-spacing:-0.015646rem;

}
.ooto_Meetings .card_2 .event_2_1 .Hey_you_guys_we_need  {
    position:absolute;
left:0.200000rem;
top:0.511179rem;
width:2.333333rem;
height:0.666667rem;
color:#000000;
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.003825rem;

}
.ooto_Meetings .card_2 .event_2_1 ._11_00_AM_-_11_30_AM  {
    position:absolute;
left:0.200000rem;
top:0.201538rem;
width:1.186667rem;
height:0.373333rem;
opacity:0.6963881340579711;
color:rgba(133,133,133,1);
line-height:normal;
font-size:0.160000rem;
font-family:Helvetica;
letter-spacing:-0.004589rem;

}
.ooto_Meetings .card_2 .event_1_1 .base_52 .Rectangle-path_94  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.493333rem;
height:1.720000rem;
border-radius:0.080000rem;

}
.ooto_Meetings .card_2 .event_1_1 .team_4 .send_invitation_button_3 .Rect_14 .Rectangle-path_95  {
    background-color:rgba(255,255,255,1);
border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.306667rem;
height:0.306667rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_2 .event_1_1 .team_4 .send_invitation_button_3 .Fill_1_26 .Path_230  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.109585rem;
height:0.093483rem;
stroke-width:0.3px;
position:absolute;
left:0.009264rem;
top:0.007132rem;
line-height:normal;

}
.ooto_Meetings .card_2 .event_1_1 .team_4 .send_invitation_button_3 .Fill_1_26 .Path_231  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.124939rem;
height:0.107122rem;
stroke-width:0.3px;
position:absolute;
left:-0.000000rem;
top:0.000000rem;
line-height:normal;

}
.ooto_Meetings .card_2 .event_1_1 .team_4 .send_invitation_button_3 .Fill_4_16 .Path_232  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.075646rem;
height:0.123560rem;
stroke-width:0.3px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .card_2 .event_1_1 .team_4 .user_2_3 .Rect_15 .Rectangle-path_96  {
    background-color:rgba(255,208,18,0.1);
position:absolute;
width:0.333333rem;
height:0.333333rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_2 .event_1_1 .team_4 .user_2_3 .ES_2  {
    position:absolute;
left:-0.226667rem;
top:-0.200000rem;
width:0.800000rem;
height:0.733333rem;
transform:scale(0.2);
color:rgba(255,207,17,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;
letter-spacing:-0.015646rem;

}
.ooto_Meetings .card_2 .event_1_1 .team_4 .user_1_4 .Rect_16 .Rectangle-path_97  {
    background-color:rgba(77,161,255,0.1);
position:absolute;
width:0.333333rem;
height:0.333333rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_2 .event_1_1 .team_4 .user_1_4 .AM_2  {
    position:absolute;
left:-0.306667rem;
top:-0.200000rem;
width:0.933333rem;
height:0.733333rem;
transform:scale(0.2);
color:rgba(76,160,255,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;
letter-spacing:-0.015646rem;

}
.ooto_Meetings .card_2 .event_1_1 .Website_for_the_Prod  {
    position:absolute;
left:0.200000rem;
top:0.586667rem;
width:1.866667rem;
height:0.226667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.003825rem;

}
.ooto_Meetings .card_2 .event_1_1 ._11_00_AM_-_11_30_AM_1  {
    position:absolute;
left:-2.306667rem;
top:-0.133333rem;
width:6.266667rem;
height:0.866667rem;
transform:scale(0.2);
opacity:0.6963881340579711;
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:-0.021035rem;

}
.ooto_Meetings .card_2 .event_1_1 ._10_attachements_1  {
    position:absolute;
left:0.506667rem;
top:0.973333rem;
width:4.666667rem;
height:0.800000rem;
transform:scale(0.2);
opacity:0.6963881340579711;
color:rgba(133,133,133,1);
line-height:normal;
font-size:0.666667rem;
font-family:Helvetica;
letter-spacing:-0.019123rem;

}
.ooto_Meetings .card_2 .event_1_1 .pin_icon_2 .Path_233  {
    fill:rgba(77,161,255,1);
width:0.066667rem;
height:0.133337rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .card_1 .base_53 .background_2 .Rectangle-path_98  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:4.040000rem;
height:7.440000rem;
border-radius:0.080000rem;

}
.ooto_Meetings .card_1 .base_53 .indicator_active .Rectangle-path_99  {
    background-color:rgba(77,161,255,1);
position:absolute;
width:2.000000rem;
height:0.066667rem;
border-radius:0.146667rem;

}
.ooto_Meetings .card_1 .base_53 ._02nd_Thursday  {
    position:absolute;
left:0.306667rem;
top:0.320000rem;
width:1.453333rem;
height:0.253333rem;
color:#000000;
line-height:normal;
font-size:0.213333rem;
font-family:Helvetica;
letter-spacing:0.001733rem;

}
.ooto_Meetings .card_1 .event_3_1 .base_54 .Rectangle-path_100  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.493333rem;
height:1.720000rem;
border-radius:0.080000rem;

}
.ooto_Meetings .card_1 .event_3_1 .Team .user_1_5 .Rect_17 .Rectangle-path_101  {
    background-color:rgba(255,108,73,0.1);
position:absolute;
width:0.333333rem;
height:0.333333rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_1 .event_3_1 .Team .user_1_5 .LA_3  {
    position:absolute;
left:-0.200000rem;
top:-0.200000rem;
width:0.733333rem;
height:0.733333rem;
transform:scale(0.2);
color:rgba(255,109,73,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;
letter-spacing:-0.015646rem;

}
.ooto_Meetings .card_1 .event_3_1 .Team .send_invitation_button_4 .Rect_18 .Rectangle-path_102  {
    background-color:rgba(255,255,255,1);
border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.306667rem;
height:0.306667rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_1 .event_3_1 .Team .send_invitation_button_4 .icon_7 .Fill_1_27 .Path_234  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.109585rem;
height:0.093483rem;
stroke-width:0.3px;
position:absolute;
left:0.009264rem;
top:0.007132rem;
line-height:normal;

}
.ooto_Meetings .card_1 .event_3_1 .Team .send_invitation_button_4 .icon_7 .Fill_1_27 .Path_235  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.124939rem;
height:0.107122rem;
stroke-width:0.3px;
position:absolute;
left:-0.000000rem;
top:0.000000rem;
line-height:normal;

}
.ooto_Meetings .card_1 .event_3_1 .Team .send_invitation_button_4 .icon_7 .Fill_4_17 .Path_236  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.075646rem;
height:0.123560rem;
stroke-width:0.3px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .card_1 .event_3_1 .Hikoot_app_Wireframe  {
    position:absolute;
left:0.200000rem;
top:0.586667rem;
width:1.826667rem;
height:0.226667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.003825rem;

}
.ooto_Meetings .card_1 .event_3_1 ._11_00_AM_-_11_30_AM_2  {
    position:absolute;
left:-2.306667rem;
top:-0.133333rem;
width:6.266667rem;
height:0.866667rem;
transform:scale(0.2);
opacity:0.6963881340579711;
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:-0.021035rem;

}
.ooto_Meetings .card_1 .event_2_2 .base_55 .Rectangle-path_103  {
    background-color:rgba(77,161,255,1);
border-color:rgba(77,161,255,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.493333rem;
height:1.720000rem;
border-radius:0.080000rem;

}
.ooto_Meetings .card_1 .event_2_2 .team_5 .user_2_4 .Rect_19 .Rectangle-path_104  {
    background-color:rgba(255,255,255,0.2);
position:absolute;
width:0.333333rem;
height:0.333333rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_1 .event_2_2 .team_5 .user_2_4 .BK  {
    position:absolute;
left:-0.240000rem;
top:-0.200000rem;
width:0.800000rem;
height:0.733333rem;
transform:scale(0.2);
color:rgba(255,255,255,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;
letter-spacing:-0.015646rem;

}
.ooto_Meetings .card_1 .event_2_2 .team_5 .user_1_6 .Rect_20 .Rectangle-path_105  {
    background-color:rgba(255,255,255,0.2);
position:absolute;
width:0.333333rem;
height:0.333333rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_1 .event_2_2 .team_5 .user_1_6 .AM_3  {
    position:absolute;
left:-0.306667rem;
top:-0.200000rem;
width:0.933333rem;
height:0.733333rem;
transform:scale(0.2);
color:rgba(255,255,255,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;
letter-spacing:-0.015646rem;

}
.ooto_Meetings .card_1 .event_2_2 .team_5 .send_invitation_button_5 .Rect_21 .Rectangle-path_106  {
    border-color:rgba(255,255,255,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.533333rem;
height:0.306667rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_1 .event_2_2 .team_5 .send_invitation_button_5 .___3  {
    position:absolute;
left:0.333333rem;
top:0.080000rem;
width:0.106667rem;
height:0.186667rem;
color:rgba(255,255,255,1);
line-height:normal;
font-size:0.160000rem;
font-family:Helvetica;

}
.ooto_Meetings .card_1 .event_2_2 .team_5 .send_invitation_button_5 .icon_8 .Fill_1_28 .Path_237  {
    fill:rgba(255,255,255,1);
stroke:rgba(255,255,255,1);
width:0.109585rem;
height:0.093483rem;
stroke-width:0.3px;
position:absolute;
left:0.009264rem;
top:0.007132rem;
line-height:normal;

}
.ooto_Meetings .card_1 .event_2_2 .team_5 .send_invitation_button_5 .icon_8 .Fill_1_28 .Path_238  {
    fill:rgba(255,255,255,1);
stroke:rgba(255,255,255,1);
width:0.124939rem;
height:0.107122rem;
stroke-width:0.3px;
position:absolute;
left:-0.000000rem;
top:0.000000rem;
line-height:normal;

}
.ooto_Meetings .card_1 .event_2_2 .team_5 .send_invitation_button_5 .icon_8 .Fill_4_18 .Path_239  {
    fill:rgba(255,255,255,1);
stroke:rgba(255,255,255,1);
width:0.075646rem;
height:0.123560rem;
stroke-width:0.3px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .card_1 .event_2_2 .Sketching  {
    position:absolute;
left:0.200000rem;
top:0.586667rem;
width:0.786667rem;
height:0.226667rem;
color:rgba(255,255,255,1);
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.003825rem;

}
.ooto_Meetings .card_1 .event_2_2 ._11_00_AM_-_11_30_AM_3  {
    position:absolute;
left:0.200000rem;
top:0.200000rem;
width:1.386667rem;
height:0.186667rem;
opacity:0.6963881340579711;
color:rgba(255,255,255,1);
line-height:normal;
font-size:0.160000rem;
font-family:Helvetica;
letter-spacing:-0.004589rem;

}
.ooto_Meetings .card_1 .event_2_2 ._3_attachements  {
    position:absolute;
left:0.586667rem;
top:0.973333rem;
width:4.333333rem;
height:0.800000rem;
transform:scale(0.2);
opacity:0.6963881340579711;
color:rgba(255,255,255,1);
line-height:normal;
font-size:0.666667rem;
font-family:Helvetica;
letter-spacing:-0.019123rem;

}
.ooto_Meetings .card_1 .event_2_2 .pin_icon_3 .Path_240  {
    fill:rgba(255,255,255,1);
width:0.066667rem;
height:0.133337rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .card_1 .event_1_2 .base_56 .Rectangle-path_107  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.493333rem;
height:1.720000rem;
border-radius:0.080000rem;

}
.ooto_Meetings .card_1 .event_1_2 .team_6 .send_invitation_button_6 .Rect_22 .Rectangle-path_108  {
    background-color:rgba(255,255,255,1);
border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.306667rem;
height:0.306667rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_1 .event_1_2 .team_6 .send_invitation_button_6 .Fill_1_29 .Path_241  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.109585rem;
height:0.093483rem;
stroke-width:0.3px;
position:absolute;
left:0.009264rem;
top:0.007132rem;
line-height:normal;

}
.ooto_Meetings .card_1 .event_1_2 .team_6 .send_invitation_button_6 .Fill_1_29 .Path_242  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.124939rem;
height:0.107122rem;
stroke-width:0.3px;
position:absolute;
left:-0.000000rem;
top:0.000000rem;
line-height:normal;

}
.ooto_Meetings .card_1 .event_1_2 .team_6 .send_invitation_button_6 .Fill_4_19 .Path_243  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.075646rem;
height:0.123560rem;
stroke-width:0.3px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .card_1 .event_1_2 .team_6 .user_2_5 .Rect_23 .Rectangle-path_109  {
    background-color:rgba(255,208,18,0.1);
position:absolute;
width:0.333333rem;
height:0.333333rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_1 .event_1_2 .team_6 .user_2_5 .ES_3  {
    position:absolute;
left:-0.226667rem;
top:-0.200000rem;
width:0.800000rem;
height:0.733333rem;
transform:scale(0.2);
color:rgba(255,207,17,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;
letter-spacing:-0.015646rem;

}
.ooto_Meetings .card_1 .event_1_2 .team_6 .user_1_7 .Rect_24 .Rectangle-path_110  {
    background-color:rgba(77,161,255,0.1);
position:absolute;
width:0.333333rem;
height:0.333333rem;
border-radius:0.026667rem;

}
.ooto_Meetings .card_1 .event_1_2 .team_6 .user_1_7 .AM_4  {
    position:absolute;
left:-0.306667rem;
top:-0.200000rem;
width:0.933333rem;
height:0.733333rem;
transform:scale(0.2);
color:rgba(76,160,255,1);
line-height:normal;
font-size:0.600000rem;
font-family:Helvetica;
letter-spacing:-0.015646rem;

}
.ooto_Meetings .card_1 .event_1_2 .Inspiration_gatherin  {
    position:absolute;
left:0.200000rem;
top:0.586667rem;
width:1.613333rem;
height:0.226667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.003825rem;

}
.ooto_Meetings .card_1 .event_1_2 ._11_00_AM_-_11_30_AM_4  {
    position:absolute;
left:-2.306667rem;
top:-0.133333rem;
width:6.266667rem;
height:0.866667rem;
transform:scale(0.2);
opacity:0.6963881340579711;
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:-0.021035rem;

}
.ooto_Meetings .card_1 .event_1_2 ._10_attachements_2  {
    position:absolute;
left:0.506667rem;
top:0.973333rem;
width:4.666667rem;
height:0.800000rem;
transform:scale(0.2);
opacity:0.6963881340579711;
color:rgba(133,133,133,1);
line-height:normal;
font-size:0.666667rem;
font-family:Helvetica;
letter-spacing:-0.019123rem;

}
.ooto_Meetings .card_1 .event_1_2 .pin_icon_4 .Path_244  {
    fill:rgba(77,161,255,1);
width:0.066667rem;
height:0.133337rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .view_buttons .base_57 .Path_245  {
    background-color:rgba(233,239,243,0.4800000190734863);
position:absolute;
width:2.933333rem;
height:0.586667rem;
border-radius:0.053333rem;

}
.ooto_Meetings .view_buttons .active_1 .Path_246  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:0.853333rem;
height:0.453333rem;
border-radius:0.040000rem;

}
.ooto_Meetings .view_buttons .Day_1  {
    position:absolute;
left:0.346667rem;
top:0.200000rem;
width:0.320000rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Meetings .view_buttons .Month  {
    position:absolute;
left:2.080000rem;
top:0.200000rem;
width:0.493333rem;
height:0.213333rem;
opacity:0.4491055253623188;
color:rgba(152,152,152,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Meetings .view_buttons .Week  {
    position:absolute;
left:1.213333rem;
top:0.200000rem;
width:0.453333rem;
height:0.213333rem;
opacity:0.4491055253623188;
color:rgba(152,152,152,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Meetings .create_new_button .Rect_25 .Rectangle-path_111  {
    background-color:rgba(77,161,255,1);
border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:1.213333rem;
height:0.360000rem;
border-radius:0.026667rem;

}
.ooto_Meetings .create_new_button .___Create_new  {
    position:absolute;
left:-1.626667rem;
top:-0.253333rem;
width:4.400000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(255,255,255,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;

}
.ooto_Meetings .Meetings  {
    position:absolute;
left:2.120000rem;
top:2.000000rem;
width:1.946667rem;
height:0.613333rem;
color:rgba(35,52,56,1);
line-height:normal;
font-size:0.506667rem;
font-family:Helvetica;
letter-spacing:-0.014533rem;

}
.ooto_Meetings .main_nav_2 .line_2 .separator_10 .Rectangle-path_112  {
    background-color:rgba(197,197,197,1);
position:absolute;
width:13.653333rem;
height:0.013333rem;

}
.ooto_Meetings .main_nav_2 .logo_2 ._Path__2 ._Path_-path_2  {
    fill:rgba(77,161,255,0.3);
width:0.120927rem;
height:0.276471rem;
stroke-width:1;
position:absolute;
left:0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .logo_2 ._Path_3_2 ._Path_3-path_2  {
    fill:rgba(77,161,255,0.2984601449275363);
width:0.547274rem;
height:0.392448rem;
stroke-width:1;
position:absolute;
top:-0.000001rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .logo_2 ._Path_5_2 ._Path_5-path_2  {
    fill:rgba(77,161,255,1);
width:0.532375rem;
height:0.307554rem;
stroke-width:1;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .indicator_2 .Path_247  {
    fill:rgba(65,145,236,1);
width:0.136557rem;
height:0.586667rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .settings_icon_2 .Fill_1_30 .Path_248  {
    fill:rgba(0,121,255,1);
width:0.255652rem;
height:0.255652rem;
stroke-width:1;
position:absolute;
left:0.012174rem;
top:0.012174rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .settings_icon_2 .Fill_1_30 .Path_249  {
    fill:rgba(0,121,255,1);
width:0.280000rem;
height:0.280000rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .settings_icon_2 .Fill_4_20 .Path_250  {
    fill:rgba(0,121,255,1);
width:0.085217rem;
height:0.085217rem;
stroke-width:1;
position:absolute;
left:0.012174rem;
top:0.012174rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .settings_icon_2 .Fill_4_20 .Path_251  {
    fill:rgba(0,121,255,1);
width:0.109565rem;
height:0.109565rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .conversations_icon_2 .Fill_1_31 .Path_252  {
    fill:rgba(0,121,255,1);
width:0.198921rem;
height:0.180635rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .conversations_icon_2 .Fill_4_21 .Path_253  {
    fill:rgba(0,121,255,1);
width:0.198743rem;
height:0.193907rem;
stroke-width:1;
position:absolute;
left:0.018438rem;
top:0.012556rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .conversations_icon_2 .Fill_4_21 .Path_254  {
    fill:rgba(0,121,255,1);
width:0.229627rem;
height:0.219019rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .files_board_icon_2 .Fill_1_32 .Path_255  {
    fill:rgba(0,121,255,1);
width:0.211984rem;
height:0.265959rem;
stroke-width:1;
position:absolute;
left:0.012470rem;
top:0.012665rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .files_board_icon_2 .Fill_1_32 .Path_256  {
    fill:rgba(0,121,255,1);
width:0.236923rem;
height:0.291288rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .files_board_icon_2 .Fill_3_9 .Path_257  {
    fill:rgba(0,121,255,1);
width:0.081053rem;
height:0.075988rem;
stroke-width:1;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .files_board_icon_2 .Fill_5_2 .Path_258  {
    fill:rgba(0,121,255,1);
width:0.087287rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .files_board_icon_2 .Fill_7_2 .Path_259  {
    fill:rgba(0,121,255,1);
width:0.162105rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .files_board_icon_2 .Fill_9_4 .Path_260  {
    fill:rgba(0,121,255,1);
width:0.162105rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .files_board_icon_2 .Fill_11_2 .Path_261  {
    fill:rgba(0,121,255,1);
width:0.162105rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .meetings_icon_2 .Fill_1_33 .Path_262  {
    fill:rgba(0,121,255,1);
width:0.124142rem;
height:0.145872rem;
stroke-width:1;
position:absolute;
left:0.011782rem;
top:0.011758rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .meetings_icon_2 .Fill_1_33 .Path_263  {
    fill:rgba(0,121,255,1);
width:0.147707rem;
height:0.169388rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .meetings_icon_2 .Fill_4_22 .Path_264  {
    fill:rgba(0,121,255,1);
width:0.025335rem;
height:0.022598rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .meetings_icon_2 .Fill_6_6 .Path_265  {
    fill:rgba(0,121,255,1);
width:0.156984rem;
height:0.122207rem;
stroke-width:1;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .meetings_icon_2 .Fill_9_5 .Path_266  {
    fill:rgba(0,121,255,1);
width:0.070641rem;
height:0.064668rem;
stroke-width:1;
position:absolute;
left:0.011773rem;
top:0.011758rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .meetings_icon_2 .Fill_9_5 .Path_267  {
    fill:rgba(0,121,255,1);
width:0.094181rem;
height:0.088183rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .meetings_icon_2 .Fill_12_2 .Path_268  {
    fill:rgba(0,121,255,1);
width:0.082408rem;
height:0.011758rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .meetings_icon_2 .Fill_14_2 .Path_269  {
    fill:rgba(0,121,255,1);
width:0.011773rem;
height:0.035273rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .meetings_icon_2 .Fill_16_2 .Path_270  {
    fill:rgba(0,121,255,1);
width:0.011773rem;
height:0.035273rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .sessions_icon_2 .Fill_6_7 .Path_271  {
    fill:rgba(0,121,255,1);
width:0.171442rem;
height:0.252984rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
top:0.000000rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .sessions_icon_2 .Fill_3_10 .Path_272  {
    fill:rgba(0,121,255,1);
width:0.247018rem;
height:0.113956rem;
stroke-width:1;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .sessions_icon_2 .Fill_1_34 .Path_273  {
    fill:rgba(0,121,255,1);
width:0.112003rem;
height:0.130133rem;
stroke-width:1;
position:absolute;
left:0.013620rem;
top:0.013394rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .sessions_icon_2 .Fill_1_34 .Path_274  {
    fill:rgba(0,121,255,1);
width:0.139238rem;
height:0.156922rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .dashboard_icon_2 .Fill_1_35 .Path_275  {
    fill:rgba(0,121,255,1);
width:0.253720rem;
height:0.096175rem;
stroke-width:1;
position:absolute;
left:0.026244rem;
top:0.014125rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .dashboard_icon_2 .Fill_1_35 .Path_276  {
    fill:rgba(0,121,255,1);
width:0.306215rem;
height:0.124428rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .dashboard_icon_2 .Fill_4_23 .Path_277  {
    fill:rgba(0,121,255,1);
width:0.306215rem;
height:0.096732rem;
stroke-width:1;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Meetings .main_nav_2 .dashboard_icon_2 .Fill_6_8 .Path_278  {
    fill:rgba(0,121,255,1);
width:0.306215rem;
height:0.095460rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Meetings .top_nav_2 .separator_11 .Rectangle-path_113  {
    background-color:rgba(231,233,234,1);
position:absolute;
width:19.186667rem;
height:0.013333rem;

}
.ooto_Meetings .top_nav_2 .Search_2 .Find_a_user__team__m_1  {
    position:absolute;
left:0.453333rem;
top:0.026667rem;
width:2.760000rem;
height:0.346667rem;
color:rgba(152,152,152,0.5);
line-height:0.346667rem;
font-size:0.213333rem;
font-family:Helvetica;

}
.ooto_Meetings .top_nav_2 .Search_2 .search_icon_2 .Path_279  {
    fill:rgba(152,152,152,0.61);
stroke:rgba(255,255,255,1);
width:0.271459rem;
height:0.287120rem;
stroke-width:0.6px;
position:absolute;
line-height:normal;

}
.ooto_Meetings .top_nav_2 .Search_2 .search_icon_2 .Path_280  {
    fill:rgba(152,152,152,0.61);
stroke:rgba(255,255,255,1);
width:0.168432rem;
height:0.175698rem;
stroke-width:0.6px;
position:absolute;
left:0.033671rem;
top:0.035152rem;
line-height:normal;

}
.ooto_Meetings .top_nav_2 .Oval_2_2 .Path_281  {
    border-color:rgba(255,255,255,1);
border-width:0.026667rem;
border-style:solid;
position:absolute;
width:0.746667rem;
height:0.746667rem;
background-image:url(../images/2ea6cc5cf7fd2bf11fcde7a244868cc18d0f853c.png);
border-radius:0.386667rem;

}
.ooto_Meetings .top_nav_2 .invite_button_2 .Rect_26 .Rectangle-path_114  {
    background-color:rgba(255,255,255,1);
border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.866667rem;
height:0.360000rem;
border-radius:0.026667rem;

}
.ooto_Meetings .top_nav_2 .invite_button_2 .Invite_2  {
    position:absolute;
left:-0.386667rem;
top:-0.240000rem;
width:1.800000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(76,160,255,0.742017663);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;

}
.ooto_Meetings .top_nav_2 .invite_button_2 .paper_plane_icon_2 .Fill_1_36 .Path_282  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.109585rem;
height:0.093483rem;
stroke-width:0.3px;
position:absolute;
left:0.009264rem;
top:0.007132rem;
line-height:normal;

}
.ooto_Meetings .top_nav_2 .invite_button_2 .paper_plane_icon_2 .Fill_1_36 .Path_283  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.124939rem;
height:0.107122rem;
stroke-width:0.3px;
position:absolute;
left:-0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Meetings .top_nav_2 .invite_button_2 .paper_plane_icon_2 .Fill_4_24 .Path_284  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.075646rem;
height:0.123560rem;
stroke-width:0.3px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}