
.ooto_Sessions  {
    position:absolute;
width:19.200000rem;
height:12.000000rem;
background-color:rgba(250,251,252,1);

}
.ooto_Sessions .base_58 .Path_285  {
    background-color:rgba(243,248,249,1);
position:absolute;
width:17.880000rem;
height:10.666667rem;

}
.ooto_Sessions .side_app_-_forecast .background_3 .Rectangle-path_115  {
    background-color:rgba(255,255,255,0.7400000095367432);
position:absolute;
width:3.760000rem;
height:10.693333rem;

}
.ooto_Sessions .side_app_-_forecast .event_4 .Follow_up_on_Wirefra  {
    position:absolute;
top:0.466667rem;
width:2.400000rem;
height:0.613333rem;
color:#000000;
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.001333rem;
-webkit-text-stroke-width:0.002667rem;
-webkit-text-stroke-color:NaNrem;

}
.ooto_Sessions .side_app_-_forecast .event_4 ._12_45  {
    position:absolute;
top:0.133333rem;
width:0.413333rem;
height:0.480000rem;
color:rgba(152,152,152,1);
line-height:0.480000rem;
font-size:0.160000rem;
font-family:Helvetica;

}
.ooto_Sessions .side_app_-_forecast .event_4 .Rectangle_2 .Path_286  {
    background-color:rgba(77,161,255,0.2);
position:absolute;
width:0.666667rem;
height:0.066667rem;
border-radius:0.026667rem;

}
.ooto_Sessions .side_app_-_forecast .event_3_2 .Wireframes_with_Josh  {
    position:absolute;
top:0.453333rem;
width:1.760000rem;
height:0.253333rem;
color:#000000;
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.001333rem;
-webkit-text-stroke-width:0.002667rem;
-webkit-text-stroke-color:NaNrem;

}
.ooto_Sessions .side_app_-_forecast .event_3_2 ._10_30  {
    position:absolute;
top:0.093333rem;
width:0.413333rem;
height:0.480000rem;
color:rgba(152,152,152,1);
line-height:0.480000rem;
font-size:0.160000rem;
font-family:Helvetica;

}
.ooto_Sessions .side_app_-_forecast .event_3_2 .Rectangle_2_1 .Path_287  {
    background-color:rgba(77,161,255,0.4);
position:absolute;
width:0.666667rem;
height:0.066667rem;
border-radius:0.026667rem;

}
.ooto_Sessions .side_app_-_forecast .event_2_3 .New_invitation_from  {
    position:absolute;
left:0.253333rem;
top:0.546667rem;
width:2.000000rem;
height:0.253333rem;
color:#000000;
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.001333rem;
-webkit-text-stroke-width:0.002667rem;
-webkit-text-stroke-color:NaNrem;

}
.ooto_Sessions .side_app_-_forecast .event_2_3 .base_59 .Path_288  {
    border-color:rgba(152,152,152,0.2154098731884058);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.226667rem;
height:0.226667rem;
border-radius:0.026667rem;

}
.ooto_Sessions .side_app_-_forecast .event_2_3 .tick_icon_7 .Path_289  {
    fill:rgba(152,152,152,0.3);
width:0.093333rem;
height:0.066667rem;
stroke-width:1;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .side_app_-_forecast .event_2_3 .Accept  {
    position:absolute;
left:-0.466667rem;
top:0.653333rem;
width:2.066667rem;
height:0.800000rem;
transform:scale(0.2);
opacity:0.4081748188405797;
color:rgba(37,45,54,1);
line-height:normal;
font-size:0.666667rem;
font-family:Helvetica;

}
.ooto_Sessions .side_app_-_forecast .event_2_3 .View_Event  {
    position:absolute;
left:-0.266667rem;
top:0.653333rem;
width:3.333333rem;
height:0.800000rem;
transform:scale(0.2);
opacity:0.74;
color:rgba(76,160,255,1);
line-height:normal;
font-size:0.666667rem;
font-family:Helvetica;

}
.ooto_Sessions .side_app_-_forecast .event_2_3 ._9_59  {
    position:absolute;
top:0.133333rem;
width:0.320000rem;
height:0.480000rem;
color:rgba(152,152,152,1);
line-height:0.480000rem;
font-size:0.160000rem;
font-family:Helvetica;

}
.ooto_Sessions .side_app_-_forecast .event_2_3 .Rectangle_2_2 .Path_290  {
    background-color:rgba(77,161,255,0.800000011920929);
position:absolute;
width:1.453333rem;
height:0.066667rem;
border-radius:0.026667rem;

}
.ooto_Sessions .side_app_-_forecast .event_2_3 .Oval_1 .Oval-path_3  {
    background-color:rgba(255,108,73,1);
border-color:rgba(255,108,73,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.080000rem;
height:0.080000rem;
border-radius:0.046667rem;

}
.ooto_Sessions .side_app_-_forecast .event_1_3 .Reply_to_Debie_Wilhe  {
    position:absolute;
top:0.453333rem;
width:1.920000rem;
height:0.253333rem;
color:#000000;
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.001333rem;
-webkit-text-stroke-width:0.002667rem;
-webkit-text-stroke-color:NaNrem;

}
.ooto_Sessions .side_app_-_forecast .event_1_3 ._9_45  {
    position:absolute;
top:0.093333rem;
width:0.320000rem;
height:0.480000rem;
color:rgba(152,152,152,1);
line-height:0.480000rem;
font-size:0.160000rem;
font-family:Helvetica;

}
.ooto_Sessions .side_app_-_forecast .event_1_3 .Rectangle_2_3 .Path_291  {
    background-color:rgba(77,161,255,0.4);
position:absolute;
width:0.666667rem;
height:0.066667rem;
border-radius:0.026667rem;

}
.ooto_Sessions .side_app_-_forecast .icon_9 .base_60 .Path_292  {
    background-color:rgba(77,161,255,1);
position:absolute;
width:0.733613rem;
height:0.733613rem;
border-radius:0.053333rem;

}
.ooto_Sessions .side_app_-_forecast .icon_9 .notification_icon .Path_293  {
    fill:rgba(255,255,255,1);
width:0.366825rem;
height:0.421717rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .side_app_-_forecast .icon_9 .notification_icon .Path_294  {
    fill:rgba(255,255,255,1);
width:0.073160rem;
height:0.023476rem;
stroke-width:1;
position:absolute;
left:0.143165rem;
top:0.365999rem;
line-height:normal;

}
.ooto_Sessions .side_app_-_forecast .icon_9 .notification_icon .Path_295  {
    fill:rgba(255,255,255,1);
width:0.293680rem;
height:0.295947rem;
stroke-width:1;
position:absolute;
left:0.036632rem;
top:0.036681rem;
line-height:normal;

}
.ooto_Sessions .side_app_-_forecast .notification_count .Oval_2_3 .Path_296  {
    background:linear-gradient(0deg, rgba(255,78,78,1) 0%,rgba(255,78,78,1) 0%,rgba(255,120,120,1) 100%,rgba(255,120,120,1) 100%);
position:absolute;
width:0.320000rem;
height:0.320000rem;
border-radius:0.160000rem;

}
.ooto_Sessions .side_app_-_forecast .notification_count ._3_1  {
    position:absolute;
left:0.120000rem;
top:0.066667rem;
width:0.093333rem;
height:0.186667rem;
color:rgba(255,255,255,1);
line-height:normal;
font-size:0.160000rem;
font-family:Helvetica;
letter-spacing:-0.001143rem;

}
.ooto_Sessions .side_app_-_forecast ._14_February  {
    position:absolute;
left:1.600000rem;
top:0.826667rem;
width:1.226667rem;
height:0.480000rem;
color:rgba(152,152,152,1);
line-height:0.480000rem;
font-size:0.226667rem;
font-family:Helvetica;

}
.ooto_Sessions .side_app_-_forecast .Forecast  {
    position:absolute;
left:1.613333rem;
top:0.533333rem;
width:1.040000rem;
height:0.320000rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.266667rem;
font-family:Helvetica;

}
.ooto_Sessions .users .user_6 .background_4 .Rectangle-path_116  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:4.040000rem;
height:4.040000rem;
border-radius:0.080000rem;

}
.ooto_Sessions .users .user_6 .personal_info .avatar .Oval-path_4  {
    fill:none;
width:0.912046rem;
height:0.880523rem;
stroke-width:1;
position:absolute;
background-image:url(../images/b9364ef12ecb5ff8e7165f19e2aadf5031bbc07f.png);
line-height:normal;

}
.ooto_Sessions .users .user_6 .personal_info .Samuel_Spencer  {
    position:absolute;
left:1.226667rem;
width:1.893333rem;
height:0.266667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.226667rem;
font-family:Helvetica;
letter-spacing:-0.002533rem;

}
.ooto_Sessions .users .user_6 .personal_info .luni_egament_com  {
    position:absolute;
left:-1.386667rem;
top:-0.480000rem;
width:6.533333rem;
height:1.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.013333rem;

}
.ooto_Sessions .users .user_6 .personal_info .Full-stack_Developer  {
    position:absolute;
left:1.232068rem;
top:0.687827rem;
width:1.560000rem;
height:0.213333rem;
color:rgba(50,59,70,0.6143851902);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;
letter-spacing:-0.001333rem;

}
.ooto_Sessions .users .user_6 .overall_activity .Rectangle-path_117 .Rectangle-path_118  {
    border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.226667rem;
height:1.920000rem;
border-radius:0.066667rem;

}
.ooto_Sessions .users .user_6 .overall_activity .Shape_4 .Path_297  {
    fill:none;
stroke:rgba(252,87,121,1);
width:3.537826rem;
height:0.962914rem;
stroke-width:2px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_6 .overall_activity .Oval_3 .Oval-path_5  {
    background-color:rgba(255,255,255,1);
border-color:rgba(252,87,121,1);
border-width:0.026667rem;
border-style:solid;
position:absolute;
width:0.080000rem;
height:0.080000rem;
border-radius:0.053333rem;

}
.ooto_Sessions .users .user_6 .overall_activity .Shape_5 .Path_298  {
    fill:rgba(233,239,243,1);
width:0.013333rem;
height:0.826667rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_6 .overall_activity .Shape_6 .Path_299  {
    fill:rgba(233,239,243,1);
width:0.013333rem;
height:3.240000rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_6 .overall_activity .Overall_activity  {
    position:absolute;
left:-1.744228rem;
top:0.685629rem;
width:5.200000rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_6 .invites .Invites  {
    position:absolute;
left:-0.933333rem;
top:-0.333333rem;
width:2.333333rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_6 .invites ._03  {
    position:absolute;
top:0.253333rem;
width:0.306667rem;
height:0.346667rem;
color:rgba(76,160,255,1);
line-height:0.346667rem;
font-size:0.266667rem;
font-family:Helvetica;

}
.ooto_Sessions .users .user_6 .pending .Pending  {
    position:absolute;
left:-1.146667rem;
top:-0.333333rem;
width:2.866667rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_6 .pending .Oval_4 .Oval-path_6  {
    fill:rgba(255,108,73,1);
stroke:rgba(255,108,73,1);
width:0.078823rem;
height:0.076713rem;
stroke-width:1px;
position:absolute;
line-height:normal;

}
.ooto_Sessions .users .user_6 .pending ._02  {
    position:absolute;
left:0.186667rem;
top:0.253333rem;
width:0.306667rem;
height:0.346667rem;
color:rgba(255,109,73,1);
line-height:0.346667rem;
font-size:0.266667rem;
font-family:Helvetica;

}
.ooto_Sessions .users .user_5 .background_5 .Rectangle-path_119  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:4.040000rem;
height:4.040000rem;
border-radius:0.080000rem;

}
.ooto_Sessions .users .user_5 .personal_info_1 .avatar_1 .Oval-path_7  {
    fill:none;
width:0.912046rem;
height:0.880523rem;
stroke-width:1;
position:absolute;
background-image:url(../images/0d908fc4047a934c9833128cfd8f7f4f56c9a7c0.png);
line-height:normal;

}
.ooto_Sessions .users .user_5 .personal_info_1 .Samuel_Spencer_1  {
    position:absolute;
left:1.226667rem;
width:0.946667rem;
height:0.266667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.226667rem;
font-family:Helvetica;
letter-spacing:-0.002533rem;

}
.ooto_Sessions .users .user_5 .personal_info_1 .cadu_egament_com  {
    position:absolute;
left:-1.573333rem;
top:-0.480000rem;
width:7.000000rem;
height:1.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.013333rem;

}
.ooto_Sessions .users .user_5 .personal_info_1 .UX_Designer  {
    position:absolute;
left:1.232068rem;
top:0.687827rem;
width:0.973333rem;
height:0.213333rem;
color:rgba(50,59,70,0.6143851902);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;
letter-spacing:-0.001333rem;

}
.ooto_Sessions .users .user_5 .overall_activity_1 .Rectangle-path_120 .Rectangle-path_121  {
    border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.226667rem;
height:1.920000rem;
border-radius:0.066667rem;

}
.ooto_Sessions .users .user_5 .overall_activity_1 .Shape_7 .Path_300  {
    fill:none;
stroke:rgba(152,152,152,1);
width:3.560000rem;
height:1.089170rem;
stroke-width:2px;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_5 .overall_activity_1 ._989898  {
    position:absolute;
left:0.520000rem;
top:-0.906667rem;
width:1.613333rem;
height:0.613333rem;
color:rgba(35,52,56,1);
line-height:normal;
font-size:0.506667rem;
font-family:Helvetica;
letter-spacing:-0.014533rem;

}
.ooto_Sessions .users .user_5 .overall_activity_1 .Oval_5 .Oval-path_8  {
    fill:rgba(255,255,255,1);
stroke:rgba(152,152,152,1);
width:0.106667rem;
height:0.106667rem;
stroke-width:2px;
position:absolute;
line-height:normal;

}
.ooto_Sessions .users .user_5 .overall_activity_1 .Oval_6 .Oval-path_9  {
    fill:rgba(255,255,255,1);
stroke:rgba(77,161,255,1);
width:0.173333rem;
height:0.173333rem;
stroke-width:3px;
position:absolute;
line-height:normal;

}
.ooto_Sessions .users .user_5 .overall_activity_1 .Shape_8 .Path_301  {
    fill:rgba(233,239,243,1);
width:0.013333rem;
height:0.826667rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_5 .overall_activity_1 .Shape_9 .Path_302  {
    fill:rgba(233,239,243,1);
width:0.013333rem;
height:3.240000rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_5 .overall_activity_1 .Overall_activity_1  {
    position:absolute;
left:-1.744228rem;
top:0.685629rem;
width:5.200000rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_5 .invites_1 .Invites_1  {
    position:absolute;
left:-0.933333rem;
top:-0.333333rem;
width:2.333333rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_5 .invites_1 ._03_1  {
    position:absolute;
top:0.253333rem;
width:0.306667rem;
height:0.346667rem;
color:rgba(76,160,255,1);
line-height:0.346667rem;
font-size:0.266667rem;
font-family:Helvetica;

}
.ooto_Sessions .users .user_5 .pending_1 .Pending_1  {
    position:absolute;
left:-1.146667rem;
top:-0.333333rem;
width:2.866667rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_5 .pending_1 .Oval_7 .Oval-path_10  {
    fill:rgba(255,108,73,1);
stroke:rgba(255,108,73,1);
width:0.078823rem;
height:0.076713rem;
stroke-width:1px;
position:absolute;
line-height:normal;

}
.ooto_Sessions .users .user_5 .pending_1 ._02_1  {
    position:absolute;
left:0.186667rem;
top:0.253333rem;
width:0.306667rem;
height:0.346667rem;
color:rgba(255,109,73,1);
line-height:0.346667rem;
font-size:0.266667rem;
font-family:Helvetica;

}
.ooto_Sessions .users .user_4 .background_6 .Rectangle-path_122  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:4.040000rem;
height:4.040000rem;
border-radius:0.080000rem;

}
.ooto_Sessions .users .user_4 .personal_info_2 .avatar_2 .Oval-path_11  {
    fill:none;
width:0.912046rem;
height:0.880523rem;
stroke-width:1;
position:absolute;
background-image:url(../images/9c54ef1ef1b78feee11bb0dda82e525e547ad281.png);
line-height:normal;

}
.ooto_Sessions .users .user_4 .personal_info_2 .Samuel_Spencer_2  {
    position:absolute;
left:1.226667rem;
width:1.600000rem;
height:0.266667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.226667rem;
font-family:Helvetica;
letter-spacing:-0.002533rem;

}
.ooto_Sessions .users .user_4 .personal_info_2 .amde_egament_com  {
    position:absolute;
left:-1.680000rem;
top:-0.480000rem;
width:7.266667rem;
height:1.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.013333rem;

}
.ooto_Sessions .users .user_4 .personal_info_2 .Project_Manager  {
    position:absolute;
left:1.232068rem;
top:0.687827rem;
width:1.253333rem;
height:0.213333rem;
color:rgba(50,59,70,0.6143851902);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;
letter-spacing:-0.001333rem;

}
.ooto_Sessions .users .user_4 .overall_activity_2 .Rectangle-path_123 .Rectangle-path_124  {
    border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.226667rem;
height:1.920000rem;
border-radius:0.066667rem;

}
.ooto_Sessions .users .user_4 .overall_activity_2 .Shape_10 .Path_303  {
    fill:none;
stroke:rgba(0,169,255,0.8);
width:3.682545rem;
height:1.090927rem;
stroke-width:2px;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_4 .overall_activity_2 .Shape_11 .Path_304  {
    fill:rgba(233,239,243,1);
width:0.013333rem;
height:0.826667rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_4 .overall_activity_2 .Shape_12 .Path_305  {
    fill:rgba(233,239,243,1);
width:0.013333rem;
height:3.240000rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_4 .overall_activity_2 .Overall_activity_2  {
    position:absolute;
left:-1.744228rem;
top:0.685629rem;
width:5.200000rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_4 .invites_2 .Invites_2  {
    position:absolute;
left:-0.933333rem;
top:-0.333333rem;
width:2.333333rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_4 .invites_2 ._03_2  {
    position:absolute;
top:0.253333rem;
width:0.306667rem;
height:0.346667rem;
color:rgba(76,160,255,1);
line-height:0.346667rem;
font-size:0.266667rem;
font-family:Helvetica;

}
.ooto_Sessions .users .user_4 .pending_2 .Pending_2  {
    position:absolute;
left:-1.146667rem;
top:-0.333333rem;
width:2.866667rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_4 .pending_2 .Oval_8 .Oval-path_12  {
    fill:rgba(255,108,73,1);
stroke:rgba(255,108,73,1);
width:0.078823rem;
height:0.076713rem;
stroke-width:1px;
position:absolute;
line-height:normal;

}
.ooto_Sessions .users .user_4 .pending_2 ._02_2  {
    position:absolute;
left:0.186667rem;
top:0.253333rem;
width:0.306667rem;
height:0.346667rem;
color:rgba(255,109,73,1);
line-height:0.346667rem;
font-size:0.266667rem;
font-family:Helvetica;

}
.ooto_Sessions .users .user_3_2 .background_7 .Rectangle-path_125  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:4.040000rem;
height:4.040000rem;
border-radius:0.080000rem;

}
.ooto_Sessions .users .user_3_2 .personal_info_3 .avatar_3 .Oval-path_13  {
    fill:none;
width:0.912046rem;
height:0.880523rem;
stroke-width:1;
position:absolute;
background-image:url(../images/7a5c390d1e60e1f7d55217112b4b72bb0f3d2519.png);
line-height:normal;

}
.ooto_Sessions .users .user_3_2 .personal_info_3 .Samuel_Spencer_3  {
    position:absolute;
left:1.226667rem;
width:1.400000rem;
height:0.266667rem;
color:#000000;
line-height:normal;
font-size:0.226667rem;
font-family:Helvetica;
letter-spacing:-0.002533rem;

}
.ooto_Sessions .users .user_3_2 .personal_info_3 .anhu_egament_com  {
    position:absolute;
left:-1.600000rem;
top:-0.480000rem;
width:7.066667rem;
height:1.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.013333rem;

}
.ooto_Sessions .users .user_3_2 .personal_info_3 .Product_Manager  {
    position:absolute;
left:1.232068rem;
top:0.687827rem;
width:1.320000rem;
height:0.213333rem;
color:rgba(50,59,70,0.6143851902);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;
letter-spacing:-0.001333rem;

}
.ooto_Sessions .users .user_3_2 .overall_activity_3 .Rectangle-path_126 .Rectangle-path_127  {
    border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.226667rem;
height:1.920000rem;
border-radius:0.066667rem;

}
.ooto_Sessions .users .user_3_2 .overall_activity_3 .Shape_13 .Path_306  {
    fill:none;
stroke:rgba(252,87,121,1);
width:3.537826rem;
height:0.962914rem;
stroke-width:2px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_3_2 .overall_activity_3 .Oval_9 .Oval-path_14  {
    background:linear-gradient(-16.85788137250007deg, rgba(253,154,175,1) -37.29071660606233%,rgba(253,154,175,1) -37.29071660606233%,rgba(252,87,121,1) -120.26007478719956%,rgba(252,87,121,1) -120.26007478719956%);
border-color:rgba(255,255,255,1);
border-width:0.040000rem;
border-style:solid;
position:absolute;
width:0.133333rem;
height:0.133333rem;
border-radius:0.066667rem;

}
.ooto_Sessions .users .user_3_2 .overall_activity_3 .Overall_activity_3  {
    position:absolute;
left:-1.744228rem;
top:0.685629rem;
width:5.200000rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_3_2 .overall_activity_3 .Shape_14 .Path_307  {
    fill:rgba(233,239,243,1);
width:0.013333rem;
height:0.826667rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_3_2 .overall_activity_3 .Shape_15 .Path_308  {
    fill:rgba(233,239,243,1);
width:0.013333rem;
height:3.240000rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_3_2 .invites_3 .Invites_3  {
    position:absolute;
left:-0.933333rem;
top:-0.333333rem;
width:2.333333rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_3_2 .invites_3 ._13_1  {
    position:absolute;
top:0.253333rem;
width:0.306667rem;
height:0.346667rem;
color:rgba(76,160,255,1);
line-height:0.346667rem;
font-size:0.266667rem;
font-family:Helvetica;

}
.ooto_Sessions .users .user_3_2 .pending_3 .Pending_3  {
    position:absolute;
left:-1.146667rem;
top:-0.333333rem;
width:2.866667rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_3_2 .pending_3 .Oval_10 .Oval-path_15  {
    fill:rgba(255,108,73,1);
stroke:rgba(255,108,73,1);
width:0.078823rem;
height:0.076713rem;
stroke-width:1px;
position:absolute;
line-height:normal;

}
.ooto_Sessions .users .user_3_2 .pending_3 ._05  {
    position:absolute;
left:0.186667rem;
top:0.253333rem;
width:0.306667rem;
height:0.346667rem;
color:rgba(255,109,73,1);
line-height:0.346667rem;
font-size:0.266667rem;
font-family:Helvetica;

}
.ooto_Sessions .users .user_2_6 .background_8 .Rectangle-path_128  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:4.040000rem;
height:4.040000rem;
border-radius:0.080000rem;

}
.ooto_Sessions .users .user_2_6 .personal_info_4 .avatar_4 .Oval-path_16  {
    fill:none;
width:0.912046rem;
height:0.880523rem;
stroke-width:1;
position:absolute;
background-image:url(../images/6b27a074fa21a3b80d3135f6af36835b4d9ca8c9.png);
line-height:normal;

}
.ooto_Sessions .users .user_2_6 .personal_info_4 .Samuel_Spencer_4  {
    position:absolute;
left:1.226667rem;
top:0.000000rem;
width:1.546667rem;
height:0.266667rem;
color:#000000;
line-height:normal;
font-size:0.226667rem;
font-family:Helvetica;
letter-spacing:-0.002533rem;

}
.ooto_Sessions .users .user_2_6 .personal_info_4 .kila_egament_com  {
    position:absolute;
left:-1.386667rem;
top:-0.480000rem;
width:6.533333rem;
height:1.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.013333rem;

}
.ooto_Sessions .users .user_2_6 .personal_info_4 .Data_Analysit  {
    position:absolute;
left:1.232068rem;
top:0.687827rem;
width:1.000000rem;
height:0.213333rem;
color:rgba(50,59,70,0.6143851902);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;
letter-spacing:-0.001333rem;

}
.ooto_Sessions .users .user_2_6 .pending_4 .Pending_4  {
    position:absolute;
left:-1.146667rem;
top:-0.333333rem;
width:2.866667rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_2_6 .pending_4 .Oval_11 .Oval-path_17  {
    fill:rgba(255,108,73,1);
stroke:rgba(255,108,73,1);
width:0.078823rem;
height:0.076713rem;
stroke-width:1px;
position:absolute;
line-height:normal;

}
.ooto_Sessions .users .user_2_6 .pending_4 ._00  {
    position:absolute;
left:0.186667rem;
top:0.253333rem;
width:0.306667rem;
height:0.346667rem;
color:rgba(255,109,73,1);
line-height:0.346667rem;
font-size:0.266667rem;
font-family:Helvetica;

}
.ooto_Sessions .users .user_2_6 .invites_4 .Invites_4  {
    position:absolute;
left:-0.933333rem;
top:-0.333333rem;
width:2.333333rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_2_6 .invites_4 ._07  {
    position:absolute;
top:0.253333rem;
width:0.306667rem;
height:0.346667rem;
color:rgba(76,160,255,1);
line-height:0.346667rem;
font-size:0.266667rem;
font-family:Helvetica;

}
.ooto_Sessions .users .user_2_6 .overall_activity_4 .Rectangle-path_129 .Rectangle-path_130  {
    border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.226667rem;
height:1.920000rem;
border-radius:0.066667rem;

}
.ooto_Sessions .users .user_2_6 .overall_activity_4 .Shape_16 .Path_309  {
    fill:none;
stroke:rgba(152,152,152,1);
width:3.560000rem;
height:1.089170rem;
stroke-width:2px;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_2_6 .overall_activity_4 ._989898_1  {
    position:absolute;
left:0.520000rem;
top:-0.906667rem;
width:1.613333rem;
height:0.613333rem;
color:rgba(35,52,56,1);
line-height:normal;
font-size:0.506667rem;
font-family:Helvetica;
letter-spacing:-0.014533rem;

}
.ooto_Sessions .users .user_2_6 .overall_activity_4 .Oval_12 .Oval-path_18  {
    background:linear-gradient(-16.85788137250007deg, rgba(175,175,175,1) -37.29071660606233%,rgba(175,175,175,1) -37.29071660606233%,rgba(152,152,152,1) -120.26007478719956%,rgba(152,152,152,1) -120.26007478719956%);
border-color:rgba(255,255,255,1);
border-width:0.040000rem;
border-style:solid;
position:absolute;
width:0.133333rem;
height:0.133333rem;
border-radius:0.066667rem;

}
.ooto_Sessions .users .user_2_6 .overall_activity_4 .Oval_13 .Oval-path_19  {
    fill:rgba(255,255,255,1);
stroke:rgba(77,161,255,1);
width:0.173333rem;
height:0.173333rem;
stroke-width:3px;
position:absolute;
line-height:normal;

}
.ooto_Sessions .users .user_2_6 .overall_activity_4 .Overall_activity_4  {
    position:absolute;
left:-1.744228rem;
top:0.685629rem;
width:5.200000rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_2_6 .overall_activity_4 .Shape_17 .Path_310  {
    fill:rgba(233,239,243,1);
width:0.013333rem;
height:0.826667rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_2_6 .overall_activity_4 .Shape_18 .Path_311  {
    fill:rgba(233,239,243,1);
width:0.013333rem;
height:3.240000rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_1_8 .background_9 .Rectangle-path_131  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:4.040000rem;
height:4.040000rem;
border-radius:0.080000rem;

}
.ooto_Sessions .users .user_1_8 .personal_info_5 .Samuel_Spencer_5  {
    position:absolute;
left:1.226667rem;
width:1.653333rem;
height:0.266667rem;
color:#000000;
line-height:normal;
font-size:0.226667rem;
font-family:Helvetica;
letter-spacing:-0.002533rem;

}
.ooto_Sessions .users .user_1_8 .personal_info_5 .sasp_egament_com  {
    position:absolute;
left:-1.573333rem;
top:-0.480000rem;
width:7.000000rem;
height:1.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.013333rem;

}
.ooto_Sessions .users .user_1_8 .personal_info_5 .Creative_Director  {
    position:absolute;
left:1.232068rem;
top:0.687827rem;
width:1.280000rem;
height:0.213333rem;
color:rgba(50,59,70,0.6143851902);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;
letter-spacing:-0.001333rem;

}
.ooto_Sessions .users .user_1_8 .personal_info_5 .avatar_5 .Oval-path_20  {
    fill:none;
width:0.912046rem;
height:0.880523rem;
stroke-width:1;
position:absolute;
background-image:url(../images/49312de153d03f3db752dab7ba57755c2f60ea63.png);
line-height:normal;

}
.ooto_Sessions .users .user_1_8 .pending_5 .Pending_5  {
    position:absolute;
left:-1.146667rem;
top:-0.333333rem;
width:2.866667rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_1_8 .pending_5 .Oval_14 .Oval-path_21  {
    fill:rgba(255,108,73,1);
stroke:rgba(255,108,73,1);
width:0.078823rem;
height:0.076713rem;
stroke-width:1px;
position:absolute;
line-height:normal;

}
.ooto_Sessions .users .user_1_8 .pending_5 ._02_3  {
    position:absolute;
left:0.186667rem;
top:0.253333rem;
width:0.306667rem;
height:0.346667rem;
color:rgba(255,109,73,1);
line-height:0.346667rem;
font-size:0.266667rem;
font-family:Helvetica;

}
.ooto_Sessions .users .user_1_8 .invites_5 .Invites_5  {
    position:absolute;
left:-0.933333rem;
top:-0.333333rem;
width:2.333333rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .users .user_1_8 .invites_5 ._03_3  {
    position:absolute;
top:0.253333rem;
width:0.306667rem;
height:0.346667rem;
color:rgba(76,160,255,1);
line-height:0.346667rem;
font-size:0.266667rem;
font-family:Helvetica;

}
.ooto_Sessions .users .user_1_8 .overall_activity_5 .Rectangle-path_132 .Rectangle-path_133  {
    border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.226667rem;
height:1.920000rem;
border-radius:0.066667rem;

}
.ooto_Sessions .users .user_1_8 .overall_activity_5 .Shape_19 .Path_312  {
    fill:none;
stroke:rgba(0,169,255,0.8);
width:3.682545rem;
height:1.090927rem;
stroke-width:2px;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_1_8 .overall_activity_5 .Shape_20 .Path_313  {
    fill:rgba(233,239,243,1);
width:0.013333rem;
height:0.826667rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_1_8 .overall_activity_5 .Shape_21 .Path_314  {
    fill:rgba(233,239,243,1);
width:0.013333rem;
height:3.240000rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .users .user_1_8 .overall_activity_5 .Rectangle_Copy .Path_315  {
    background:linear-gradient(-16.85788137250007deg, rgba(162,185,253,1) -37.29071660606233%,rgba(162,185,253,1) -37.29071660606233%,rgba(77,161,255,1) -120.26007478719956%,rgba(77,161,255,1) -120.26007478719956%);
border-color:rgba(255,255,255,1);
border-width:0.040000rem;
border-style:solid;
position:absolute;
width:0.133333rem;
height:0.133333rem;
border-radius:1.333333rem;

}
.ooto_Sessions .users .user_1_8 .overall_activity_5 .Overall_activity_5  {
    position:absolute;
left:-1.744228rem;
top:0.685629rem;
width:5.200000rem;
height:0.866667rem;
transform:scale(0.2);
color:#000000;
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.026000rem;

}
.ooto_Sessions .day_indicator .Rectangle-path_134 .Rectangle-path_135  {
    background-color:rgba(77,161,255,1);
position:absolute;
width:0.693333rem;
height:0.053333rem;
border-radius:0.026667rem;

}
.ooto_Sessions .day_indicator ._14th_Tuesday  {
    position:absolute;
width:1.306667rem;
height:0.253333rem;
color:#000000;
line-height:normal;
font-size:0.213333rem;
font-family:Helvetica;
letter-spacing:0.001733rem;

}
.ooto_Sessions .card_2_1 .BG .Rect_27 .Rectangle-path_136  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:4.040000rem;
height:1.506667rem;
border-radius:0.080000rem;

}
.ooto_Sessions .card_2_1 .Users_who_haven_t_an  {
    position:absolute;
left:0.400000rem;
top:0.440000rem;
width:2.453333rem;
height:0.226667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;

}
.ooto_Sessions .card_2_1 ._06  {
    position:absolute;
left:0.400000rem;
top:0.826667rem;
width:0.360000rem;
height:0.373333rem;
color:rgba(255,109,73,1);
line-height:0.373333rem;
font-size:0.320000rem;
font-family:Helvetica;

}
.ooto_Sessions .card_2_1 .This_month  {
    position:absolute;
left:0.853333rem;
top:0.933333rem;
width:0.920000rem;
height:0.226667rem;
color:#000000;
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.001333rem;

}
.ooto_Sessions .card_2_1 .options_6 .Path_316  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.067522rem;
height:0.066667rem;
stroke-width:1;
position:absolute;
left:0.239144rem;
line-height:normal;

}
.ooto_Sessions .card_2_1 .options_6 .Path_317  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.067076rem;
height:0.066667rem;
stroke-width:1;
position:absolute;
left:0.119795rem;
line-height:normal;

}
.ooto_Sessions .card_2_1 .options_6 .Path_318  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.067522rem;
height:0.066667rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .card_1_1 .BG_1 .Rect_28 .Rectangle-path_137  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:4.040000rem;
height:1.506667rem;
border-radius:0.080000rem;

}
.ooto_Sessions .card_1_1 .Number_of_sessions  {
    position:absolute;
left:0.410476rem;
top:0.413333rem;
width:1.653333rem;
height:0.226667rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;

}
.ooto_Sessions .card_1_1 ._23_1  {
    position:absolute;
left:0.400000rem;
top:0.826667rem;
width:0.360000rem;
height:0.373333rem;
color:rgba(76,160,255,1);
line-height:0.373333rem;
font-size:0.320000rem;
font-family:Helvetica;

}
.ooto_Sessions .card_1_1 .This_month_1  {
    position:absolute;
left:0.853333rem;
top:0.933333rem;
width:0.920000rem;
height:0.226667rem;
color:#000000;
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.001333rem;

}
.ooto_Sessions .card_1_1 .options_7 .Path_319  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.067522rem;
height:0.066667rem;
stroke-width:1;
position:absolute;
left:0.239144rem;
line-height:normal;

}
.ooto_Sessions .card_1_1 .options_7 .Path_320  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.067076rem;
height:0.066667rem;
stroke-width:1;
position:absolute;
left:0.119795rem;
line-height:normal;

}
.ooto_Sessions .card_1_1 .options_7 .Path_321  {
    fill:rgba(208,215,221,0.7272701539855072);
width:0.067522rem;
height:0.066667rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .view_buttons_1 .background_10 .Path_322  {
    background-color:rgba(233,239,243,0.4800000190734863);
position:absolute;
width:2.426667rem;
height:0.586667rem;
border-radius:0.053333rem;

}
.ooto_Sessions .view_buttons_1 .active_2 .Path_323  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:1.146667rem;
height:0.453333rem;
border-radius:0.040000rem;

}
.ooto_Sessions .view_buttons_1 .table_icon .Fill_38 .Path_324  {
    fill:rgba(199,201,203,1);
width:0.175000rem;
height:0.025000rem;
stroke-width:1;
position:absolute;
left:0.012500rem;
top:0.137500rem;
line-height:normal;

}
.ooto_Sessions .view_buttons_1 .table_icon .Fill_38 .Path_325  {
    fill:rgba(199,201,203,1);
width:0.200000rem;
height:0.050000rem;
stroke-width:1;
position:absolute;
top:0.125000rem;
line-height:normal;

}
.ooto_Sessions .view_buttons_1 .table_icon .Fill_38 .Path_326  {
    fill:rgba(199,201,203,1);
width:0.175000rem;
height:0.025000rem;
stroke-width:1;
position:absolute;
left:0.012500rem;
top:0.075000rem;
line-height:normal;

}
.ooto_Sessions .view_buttons_1 .table_icon .Fill_38 .Path_327  {
    fill:rgba(199,201,203,1);
width:0.200000rem;
height:0.050000rem;
stroke-width:1;
position:absolute;
top:0.062500rem;
line-height:normal;

}
.ooto_Sessions .view_buttons_1 .table_icon .Fill_38 .Path_328  {
    fill:rgba(199,201,203,1);
width:0.175000rem;
height:0.025000rem;
stroke-width:1;
position:absolute;
left:0.012500rem;
top:0.012500rem;
line-height:normal;

}
.ooto_Sessions .view_buttons_1 .table_icon .Fill_38 .Path_329  {
    fill:rgba(199,201,203,1);
width:0.200000rem;
height:0.050000rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .view_buttons_1 .cards_icon .Fill_1_37 .Path_330  {
    fill:rgba(0,121,255,1);
width:0.049524rem;
height:0.049523rem;
stroke-width:1;
position:absolute;
left:0.012381rem;
top:0.012390rem;
line-height:normal;

}
.ooto_Sessions .view_buttons_1 .cards_icon .Fill_1_37 .Path_331  {
    fill:rgba(0,121,255,1);
width:0.074286rem;
height:0.074287rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .view_buttons_1 .cards_icon .Fill_1_37 .Path_332  {
    fill:rgba(0,121,255,1);
width:0.049524rem;
height:0.049523rem;
stroke-width:1;
position:absolute;
left:0.012381rem;
top:0.111427rem;
line-height:normal;

}
.ooto_Sessions .view_buttons_1 .cards_icon .Fill_1_37 .Path_333  {
    fill:rgba(0,121,255,1);
width:0.074286rem;
height:0.074287rem;
stroke-width:1;
position:absolute;
top:0.099046rem;
line-height:normal;

}
.ooto_Sessions .view_buttons_1 .cards_icon .Fill_1_37 .Path_334  {
    fill:rgba(0,121,255,1);
width:0.049524rem;
height:0.049523rem;
stroke-width:1;
position:absolute;
left:0.111429rem;
top:0.012390rem;
line-height:normal;

}
.ooto_Sessions .view_buttons_1 .cards_icon .Fill_1_37 .Path_335  {
    fill:rgba(0,121,255,1);
width:0.074286rem;
height:0.074287rem;
stroke-width:1;
position:absolute;
left:0.099048rem;
line-height:normal;

}
.ooto_Sessions .view_buttons_1 .cards_icon .Fill_1_37 .Path_336  {
    fill:rgba(0,121,255,1);
width:0.049524rem;
height:0.049523rem;
stroke-width:1;
position:absolute;
left:0.111429rem;
top:0.111427rem;
line-height:normal;

}
.ooto_Sessions .view_buttons_1 .cards_icon .Fill_1_37 .Path_337  {
    fill:rgba(0,121,255,1);
width:0.074286rem;
height:0.074287rem;
stroke-width:1;
position:absolute;
left:0.099048rem;
top:0.099046rem;
line-height:normal;

}
.ooto_Sessions .view_buttons_1 .Cards  {
    position:absolute;
left:0.520000rem;
top:0.200000rem;
width:0.466667rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Sessions .view_buttons_1 .Table  {
    position:absolute;
left:1.693333rem;
top:0.200000rem;
width:0.440000rem;
height:0.213333rem;
opacity:0.4491055253623188;
color:rgba(152,152,152,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Sessions .export_button .Rect_29 .Rectangle-path_138  {
    background-color:rgba(255,255,255,1);
border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:1.026667rem;
height:0.360000rem;
border-radius:0.026667rem;

}
.ooto_Sessions .export_button .Export  {
    position:absolute;
left:-0.426667rem;
top:-0.240000rem;
width:2.133333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(76,160,255,0.742017663);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;

}
.ooto_Sessions .export_button .Fill_1_38 .Path_338  {
    fill:rgba(77,161,255,0.74);
stroke:rgba(77,161,255,1);
width:0.068505rem;
height:0.097748rem;
stroke-width:0.2px;
position:absolute;
left:0.039079rem;
line-height:normal;

}
.ooto_Sessions .export_button .Fill_1_38 .Path_339  {
    fill:rgba(77,161,255,0.74);
stroke:rgba(77,161,255,1);
width:0.146666rem;
height:0.048886rem;
stroke-width:0.2px;
position:absolute;
top:0.078219rem;
line-height:normal;

}
.ooto_Sessions .Sessions  {
    position:absolute;
left:2.120000rem;
top:2.000000rem;
width:1.960000rem;
height:0.613333rem;
color:#000000;
line-height:normal;
font-size:0.506667rem;
font-family:Helvetica;
letter-spacing:-0.014533rem;

}
.ooto_Sessions .main_nav_3 .line_3 .separator_12 .Rectangle-path_139  {
    background-color:rgba(197,197,197,1);
position:absolute;
width:13.653333rem;
height:0.013333rem;

}
.ooto_Sessions .main_nav_3 .logo_3 ._Path__3 ._Path_-path_3  {
    fill:rgba(77,161,255,0.3);
width:0.120927rem;
height:0.276471rem;
stroke-width:1;
position:absolute;
left:0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .logo_3 ._Path_3_3 ._Path_3-path_3  {
    fill:rgba(77,161,255,0.2984601449275363);
width:0.547274rem;
height:0.392448rem;
stroke-width:1;
position:absolute;
top:-0.000001rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .logo_3 ._Path_5_3 ._Path_5-path_3  {
    fill:rgba(77,161,255,1);
width:0.532375rem;
height:0.307554rem;
stroke-width:1;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .indicator_3 .Path_340  {
    fill:rgba(65,145,236,1);
width:0.136557rem;
height:0.586667rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .settings_icon_3 .Fill_1_39 .Path_341  {
    fill:rgba(0,121,255,1);
width:0.255652rem;
height:0.255652rem;
stroke-width:1;
position:absolute;
left:0.012174rem;
top:0.012174rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .settings_icon_3 .Fill_1_39 .Path_342  {
    fill:rgba(0,121,255,1);
width:0.280000rem;
height:0.280000rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .settings_icon_3 .Fill_4_25 .Path_343  {
    fill:rgba(0,121,255,1);
width:0.085217rem;
height:0.085217rem;
stroke-width:1;
position:absolute;
left:0.012174rem;
top:0.012174rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .settings_icon_3 .Fill_4_25 .Path_344  {
    fill:rgba(0,121,255,1);
width:0.109565rem;
height:0.109565rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .conversations_icon_3 .Fill_1_40 .Path_345  {
    fill:rgba(0,121,255,1);
width:0.198921rem;
height:0.180635rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .conversations_icon_3 .Fill_4_26 .Path_346  {
    fill:rgba(0,121,255,1);
width:0.198743rem;
height:0.193907rem;
stroke-width:1;
position:absolute;
left:0.018438rem;
top:0.012556rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .conversations_icon_3 .Fill_4_26 .Path_347  {
    fill:rgba(0,121,255,1);
width:0.229627rem;
height:0.219019rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .files_board_icon_3 .Fill_1_41 .Path_348  {
    fill:rgba(0,121,255,1);
width:0.211984rem;
height:0.265959rem;
stroke-width:1;
position:absolute;
left:0.012470rem;
top:0.012665rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .files_board_icon_3 .Fill_1_41 .Path_349  {
    fill:rgba(0,121,255,1);
width:0.236923rem;
height:0.291288rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .files_board_icon_3 .Fill_3_11 .Path_350  {
    fill:rgba(0,121,255,1);
width:0.081053rem;
height:0.075988rem;
stroke-width:1;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .files_board_icon_3 .Fill_5_3 .Path_351  {
    fill:rgba(0,121,255,1);
width:0.087287rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .files_board_icon_3 .Fill_7_3 .Path_352  {
    fill:rgba(0,121,255,1);
width:0.162105rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .files_board_icon_3 .Fill_9_6 .Path_353  {
    fill:rgba(0,121,255,1);
width:0.162105rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .files_board_icon_3 .Fill_11_3 .Path_354  {
    fill:rgba(0,121,255,1);
width:0.162105rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .meetings_icon_3 .Fill_1_42 .Path_355  {
    fill:rgba(0,121,255,1);
width:0.124142rem;
height:0.145872rem;
stroke-width:1;
position:absolute;
left:0.011782rem;
top:0.011758rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .meetings_icon_3 .Fill_1_42 .Path_356  {
    fill:rgba(0,121,255,1);
width:0.147707rem;
height:0.169388rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .meetings_icon_3 .Fill_4_27 .Path_357  {
    fill:rgba(0,121,255,1);
width:0.025335rem;
height:0.022598rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .meetings_icon_3 .Fill_6_9 .Path_358  {
    fill:rgba(0,121,255,1);
width:0.156984rem;
height:0.122207rem;
stroke-width:1;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .meetings_icon_3 .Fill_9_7 .Path_359  {
    fill:rgba(0,121,255,1);
width:0.070641rem;
height:0.064668rem;
stroke-width:1;
position:absolute;
left:0.011773rem;
top:0.011758rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .meetings_icon_3 .Fill_9_7 .Path_360  {
    fill:rgba(0,121,255,1);
width:0.094181rem;
height:0.088183rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .meetings_icon_3 .Fill_12_3 .Path_361  {
    fill:rgba(0,121,255,1);
width:0.082408rem;
height:0.011758rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .meetings_icon_3 .Fill_14_3 .Path_362  {
    fill:rgba(0,121,255,1);
width:0.011773rem;
height:0.035273rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .meetings_icon_3 .Fill_16_3 .Path_363  {
    fill:rgba(0,121,255,1);
width:0.011773rem;
height:0.035273rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .dashboard_icon_3 .Fill_1_44 .Path_368  {
    fill:rgba(0,121,255,1);
width:0.253720rem;
height:0.096175rem;
stroke-width:1;
position:absolute;
left:0.026244rem;
top:0.014125rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .dashboard_icon_3 .Fill_1_44 .Path_369  {
    fill:rgba(0,121,255,1);
width:0.306215rem;
height:0.124428rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .dashboard_icon_3 .Fill_4_28 .Path_370  {
    fill:rgba(0,121,255,1);
width:0.306215rem;
height:0.096732rem;
stroke-width:1;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Sessions .main_nav_3 .dashboard_icon_3 .Fill_6_11 .Path_371  {
    fill:rgba(0,121,255,1);
width:0.306215rem;
height:0.095460rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Sessions .top_nav_3 .separator_13 .Rectangle-path_140  {
    background-color:rgba(231,233,234,1);
position:absolute;
width:19.186667rem;
height:0.013333rem;

}
.ooto_Sessions .top_nav_3 .Search_3 .Find_a_user__team__m_2  {
    position:absolute;
left:0.453333rem;
top:0.026667rem;
width:2.760000rem;
height:0.346667rem;
color:rgba(152,152,152,0.5);
line-height:0.346667rem;
font-size:0.213333rem;
font-family:Helvetica;

}
.ooto_Sessions .top_nav_3 .Search_3 .search_icon_3 .Path_372  {
    fill:rgba(152,152,152,0.61);
stroke:rgba(255,255,255,1);
width:0.271459rem;
height:0.287120rem;
stroke-width:0.6px;
position:absolute;
line-height:normal;

}
.ooto_Sessions .top_nav_3 .Search_3 .search_icon_3 .Path_373  {
    fill:rgba(152,152,152,0.61);
stroke:rgba(255,255,255,1);
width:0.168432rem;
height:0.175698rem;
stroke-width:0.6px;
position:absolute;
left:0.033671rem;
top:0.035152rem;
line-height:normal;

}
.ooto_Sessions .top_nav_3 .Oval_2_4 .Path_374  {
    border-color:rgba(255,255,255,1);
border-width:0.026667rem;
border-style:solid;
position:absolute;
width:0.746667rem;
height:0.746667rem;
background-image:url(../images/2ea6cc5cf7fd2bf11fcde7a244868cc18d0f853c.png);
border-radius:0.386667rem;

}
.ooto_Sessions .top_nav_3 .invite_button_3 .Rect_30 .Rectangle-path_141  {
    background-color:rgba(255,255,255,1);
border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.866667rem;
height:0.360000rem;
border-radius:0.026667rem;

}
.ooto_Sessions .top_nav_3 .invite_button_3 .Invite_3  {
    position:absolute;
left:-0.386667rem;
top:-0.240000rem;
width:1.800000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(76,160,255,0.742017663);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;

}
.ooto_Sessions .top_nav_3 .invite_button_3 .paper_plane_icon_3 .Fill_1_45 .Path_375  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.109585rem;
height:0.093483rem;
stroke-width:0.3px;
position:absolute;
left:0.009264rem;
top:0.007132rem;
line-height:normal;

}
.ooto_Sessions .top_nav_3 .invite_button_3 .paper_plane_icon_3 .Fill_1_45 .Path_376  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.124939rem;
height:0.107122rem;
stroke-width:0.3px;
position:absolute;
left:-0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .top_nav_3 .invite_button_3 .paper_plane_icon_3 .Fill_4_29 .Path_377  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.075646rem;
height:0.123560rem;
stroke-width:0.3px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Sessions .User_Group_Man_Man-100  {
    
}