
.ooto_Create_event  {
    position:absolute;
width:19.200000rem;
height:12.000000rem;
background-color:rgba(250,251,252,1);
line-height:normal;

}
.ooto_Create_event .base_27 .Path_112  {
    background-color:rgba(243,248,249,1);
position:absolute;
width:17.880000rem;
height:10.666667rem;
line-height:normal;

}
.ooto_Create_event .side_app_-_uploader .base_28 .Rectangle-path_38  {
    background-color:rgba(255,255,255,0.7400000095367432);
position:absolute;
width:3.760000rem;
height:10.693333rem;
line-height:normal;

}
.ooto_Create_event .side_app_-_uploader .file_3_1 .View_file  {
    position:absolute;
left:-1.000000rem;
top:1.693333rem;
width:2.533333rem;
height:0.800000rem;
transform:scale(0.2);
opacity:0.2732880434782609;
color:rgba(76,160,255,1);
line-height:normal;
font-size:0.666667rem;
font-family:Helvetica;

}
.ooto_Create_event .side_app_-_uploader .file_3_1 .Sketches_02_jpeg  {
    position:absolute;
top:1.640000rem;
width:1.466667rem;
height:0.253333rem;
color:rgba(37,45,54,1);
line-height:0.253333rem;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.001333rem;
-webkit-text-stroke-width:0.002667rem;
-webkit-text-stroke-color:NaNrem;

}
.ooto_Create_event .side_app_-_uploader .file_3_1 ._6_00MB  {
    position:absolute;
left:0.013333rem;
top:0.133333rem;
width:0.493333rem;
height:0.480000rem;
color:#000000;
line-height:normal;
font-size:0.160000rem;
font-family:Helvetica;

}
.ooto_Create_event .side_app_-_uploader .file_3_1 .progress_bar_1 .Path_113  {
    background-color:rgba(77,161,255,0.2);
position:absolute;
width:2.400000rem;
height:0.066667rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .side_app_-_uploader .file_3_1 .cancel_icon .Path_114  {
    fill:rgba(255,108,73,1);
width:0.099067rem;
height:0.099140rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Create_event .side_app_-_uploader .file_3_1 .sketches_2 .base_29 .Rectangle-path_39  {
    background-color:rgba(77,161,255,0.1000000014901161);
position:absolute;
width:1.426667rem;
height:0.893333rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .side_app_-_uploader .file_3_1 .sketches_2 .image  {
    
}
.ooto_Create_event .side_app_-_uploader .file_2_1 .Sketches_01_jpeg  {
    position:absolute;
top:1.626667rem;
width:1.466667rem;
height:0.253333rem;
color:rgba(37,45,54,1);
line-height:0.253333rem;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.001333rem;
-webkit-text-stroke-width:0.002667rem;
-webkit-text-stroke-color:NaNrem;

}
.ooto_Create_event .side_app_-_uploader .file_2_1 .View_file_1  {
    position:absolute;
left:-1.000000rem;
top:1.680000rem;
width:2.533333rem;
height:0.800000rem;
transform:scale(0.2);
opacity:0.2732880434782609;
color:rgba(76,160,255,1);
line-height:normal;
font-size:0.666667rem;
font-family:Helvetica;

}
.ooto_Create_event .side_app_-_uploader .file_2_1 ._7_48MB  {
    position:absolute;
left:0.026667rem;
top:0.133333rem;
width:0.493333rem;
height:0.480000rem;
color:#000000;
line-height:normal;
font-size:0.160000rem;
font-family:Helvetica;

}
.ooto_Create_event .side_app_-_uploader .file_2_1 .progress_bar_2 .Path_115  {
    background-color:rgba(77,161,255,0.2);
position:absolute;
width:2.400000rem;
height:0.066667rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .side_app_-_uploader .file_2_1 .progress_bar_37_ .Path_116  {
    background-color:rgba(77,161,255,1);
position:absolute;
width:0.866667rem;
height:0.066667rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .side_app_-_uploader .file_2_1 .cancel_icon_1 .Path_117  {
    fill:rgba(255,108,73,1);
width:0.099067rem;
height:0.099140rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Create_event .side_app_-_uploader .file_2_1 .sketches_1 .base_30 .Rectangle-path_40  {
    background-color:rgba(77,161,255,0.1000000014901161);
position:absolute;
width:1.426667rem;
height:0.893333rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .side_app_-_uploader .file_2_1 .sketches_1 .image_1  {
    
}
.ooto_Create_event .side_app_-_uploader .file_1 .User_interviews_pdf  {
    position:absolute;
top:0.573333rem;
width:1.626667rem;
height:0.253333rem;
color:rgba(37,45,54,1);
line-height:0.253333rem;
font-size:0.186667rem;
font-family:Helvetica;
letter-spacing:-0.001333rem;
-webkit-text-stroke-width:0.002667rem;
-webkit-text-stroke-color:NaNrem;

}
.ooto_Create_event .side_app_-_uploader .file_1 .View_file_2  {
    position:absolute;
left:-1.000000rem;
top:0.626667rem;
width:2.533333rem;
height:0.800000rem;
transform:scale(0.2);
color:rgba(76,160,255,1);
line-height:normal;
font-size:0.666667rem;
font-family:Helvetica;

}
.ooto_Create_event .side_app_-_uploader .file_1 ._10_9MB  {
    position:absolute;
top:0.106667rem;
width:0.493333rem;
height:0.480000rem;
color:#000000;
line-height:normal;
font-size:0.160000rem;
font-family:Helvetica;

}
.ooto_Create_event .side_app_-_uploader .file_1 .progress_bar_100_ .Path_118  {
    background-color:rgba(77,161,255,0.800000011920929);
position:absolute;
width:2.400000rem;
height:0.066667rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .side_app_-_uploader .file_1 .tick_icon .Path_119  {
    fill:rgba(73,143,225,1);
width:0.098400rem;
height:0.073384rem;
stroke-width:1;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Create_event .side_app_-_uploader .icon_5 .base_31 .Path_120  {
    background-color:rgba(127,142,163,1);
position:absolute;
width:0.733613rem;
height:0.733613rem;
border-radius:0.053333rem;
line-height:normal;

}
.ooto_Create_event .side_app_-_uploader .icon_5 .Shape_3 .Path_121  {
    fill:rgba(255,255,255,1);
width:0.337067rem;
height:0.252762rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .side_app_-_uploader .icon_5 .Shape_3 .Path_122  {
    fill:rgba(255,255,255,1);
width:0.107760rem;
height:0.153797rem;
stroke-width:1;
position:absolute;
left:0.115752rem;
top:0.135308rem;
line-height:normal;

}
.ooto_Create_event .side_app_-_uploader ._14_March  {
    position:absolute;
left:1.493333rem;
top:0.853333rem;
width:0.960000rem;
height:0.480000rem;
color:#000000;
line-height:normal;
font-size:0.240000rem;
font-family:Helvetica;

}
.ooto_Create_event .side_app_-_uploader .Uploader  {
    position:absolute;
left:1.506667rem;
top:0.520000rem;
width:1.093333rem;
height:0.320000rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.266667rem;
font-family:Helvetica;

}
.ooto_Create_event .specify_event_details_card .base_32 .Rectangle-path_41  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:4.040000rem;
height:6.866667rem;
border-radius:0.080000rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .create_event_button .base_33 .Rectangle-path_42  {
    background-color:rgba(77,161,255,1);
border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.226667rem;
height:0.586667rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .create_event_button .Create_event  {
    position:absolute;
left:1.080000rem;
top:0.186667rem;
width:1.080000rem;
height:0.226667rem;
color:rgba(255,255,255,1);
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;

}
.ooto_Create_event .specify_event_details_card .set_reminder .Rectangle .Rectangle-path_43  {
    border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.226667rem;
height:0.586667rem;
border-radius:0.053333rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .set_reminder ._2_hours_before_event  {
    position:absolute;
left:0.266667rem;
top:0.460000rem;
width:1.600000rem;
height:0.346667rem;
opacity:0.3;
color:rgba(50,59,70,1);
line-height:0.346667rem;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Create_event .specify_event_details_card .set_reminder .Set_reminder  {
    position:absolute;
width:1.000000rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Create_event .specify_event_details_card .set_reminder .picker .Rectangle-path_44  {
    background-color:rgba(244,247,249,0.4);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.586667rem;
height:0.586667rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .set_reminder .chevron_2 .Path_123  {
    fill:rgba(127,142,163,1);
stroke:rgba(127,142,163,1);
width:0.072933rem;
height:0.124417rem;
stroke-width:0.3px;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .notify_people .base_34 .Rectangle-path_45  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:2.493333rem;
height:0.586667rem;
border-radius:0.053333rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .notify_people .hipchat .HipChat  {
    position:absolute;
left:0.306667rem;
top:0.013333rem;
width:0.613333rem;
height:0.360000rem;
color:rgba(50,59,70,1);
line-height:0.360000rem;
font-size:0.173333rem;
font-family:Helvetica;
letter-spacing:-0.002167rem;

}
.ooto_Create_event .specify_event_details_card .notify_people .hipchat .selector_inacive .Path_124  {
    fill:rgba(77,161,255,0.2);
width:0.152060rem;
height:0.152060rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .notify_people .hipchat .tick_icon_1 .Path_125  {
    fill:rgba(255,255,255,1);
width:0.076030rem;
height:0.056747rem;
stroke-width:1;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .notify_people .slack .Slack  {
    position:absolute;
left:0.306667rem;
top:0.013333rem;
width:0.413333rem;
height:0.360000rem;
color:rgba(50,59,70,1);
line-height:0.360000rem;
font-size:0.173333rem;
font-family:Helvetica;
letter-spacing:-0.002167rem;

}
.ooto_Create_event .specify_event_details_card .notify_people .slack .selector_active .Path_126  {
    background-color:rgba(77,161,255,1);
position:absolute;
width:0.152060rem;
height:0.152060rem;
border-radius:0.076030rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .notify_people .slack .tick_icon_2 .Path_127  {
    fill:rgba(255,255,255,1);
width:0.076030rem;
height:0.056747rem;
stroke-width:1;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .notify_people .Notify_people_on  {
    position:absolute;
left:0.013333rem;
width:1.253333rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Create_event .specify_event_details_card .add_quests_by_email .input_field .Rectangle-path_46  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:3.226667rem;
height:0.586667rem;
border-radius:0.053333rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .add_quests_by_email .Email_invitation  {
    position:absolute;
left:0.213333rem;
top:0.453333rem;
width:1.133333rem;
height:0.360000rem;
opacity:0.3;
color:rgba(50,59,70,1);
line-height:0.360000rem;
font-size:0.173333rem;
font-family:Helvetica;
letter-spacing:-0.002167rem;

}
.ooto_Create_event .specify_event_details_card .add_quests_by_email .Add_guests  {
    position:absolute;
left:0.013333rem;
width:0.880000rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Create_event .specify_event_details_card .add_quests_by_email .send_button .base_35 .Rectangle-path_47  {
    border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.733333rem;
height:0.360000rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .add_quests_by_email .send_button .Send  {
    position:absolute;
left:-0.480000rem;
top:-0.240000rem;
width:1.733333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(76,160,255,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;

}
.ooto_Create_event .specify_event_details_card .add_team_members .Add_team_mebers  {
    position:absolute;
width:1.373333rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .invite_users_button .base_36 .Rectangle-path_48  {
    border-color:rgba(77,161,255,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.533333rem;
height:0.386667rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .invite_users_button .__  {
    position:absolute;
left:0.333333rem;
top:0.127778rem;
width:0.106667rem;
height:0.186667rem;
color:rgba(76,160,255,1);
line-height:normal;
font-size:0.160000rem;
font-family:Helvetica;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .invite_users_button .Fill_1_14 .Path_128  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.109585rem;
height:0.093483rem;
stroke-width:0.3px;
position:absolute;
left:0.009264rem;
top:0.007132rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .invite_users_button .Fill_1_14 .Path_129  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.124939rem;
height:0.107122rem;
stroke-width:0.3px;
position:absolute;
left:-0.000000rem;
top:0.000000rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .invite_users_button .Fill_4_7 .Path_130  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.075646rem;
height:0.123560rem;
stroke-width:0.3px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .user_3 .Rect_1 .Rectangle-path_49  {
    background-color:rgba(255,208,18,1);
position:absolute;
width:0.400000rem;
height:0.400000rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .user_3 .ES  {
    position:absolute;
left:-0.293333rem;
top:-0.173333rem;
width:1.000000rem;
height:0.866667rem;
transform:scale(0.2);
opacity:0.75;
color:rgba(255,207,17,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:-0.019123rem;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .user_3 .oval_3 .Path_131  {
    background-color:rgba(255,208,18,1);
position:absolute;
width:0.143350rem;
height:0.143350rem;
border-radius:0.071675rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .user_3 .tick_icon_3 .Path_132  {
    fill:rgba(255,255,255,1);
width:0.071675rem;
height:0.053497rem;
stroke-width:1;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .user_2 .Rect_2 .Rectangle-path_50  {
    background-color:rgba(77,161,255,0.1);
position:absolute;
width:0.400000rem;
height:0.400000rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .user_2 .AM  {
    position:absolute;
left:-0.346667rem;
top:-0.173333rem;
width:1.066667rem;
height:0.866667rem;
transform:scale(0.2);
opacity:0.75;
color:rgba(76,160,255,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:-0.019123rem;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .user_2 .oval_4 .Path_133  {
    background-color:rgba(77,161,255,1);
position:absolute;
width:0.143350rem;
height:0.143350rem;
border-radius:0.071675rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .user_2 .tick_icon_4 .Path_134  {
    fill:rgba(255,255,255,1);
width:0.071675rem;
height:0.053497rem;
stroke-width:1;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .user_1 .Rect_3 .Rectangle-path_51  {
    background-color:rgba(255,108,73,0.1000000014901161);
position:absolute;
width:0.400000rem;
height:0.400000rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .user_1 .LA  {
    position:absolute;
left:-0.240000rem;
top:-0.173333rem;
width:0.866667rem;
height:0.866667rem;
transform:scale(0.2);
opacity:0.75;
color:rgba(255,109,73,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:-0.019123rem;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .user_1 .oval_5 .Path_135  {
    background-color:rgba(255,108,73,0.75);
position:absolute;
width:0.143350rem;
height:0.143350rem;
border-radius:0.071675rem;
line-height:normal;

}
.ooto_Create_event .specify_event_details_card .add_team_members .team .user_1 .tick_icon_5 .Path_136  {
    fill:rgba(255,255,255,1);
width:0.071675rem;
height:0.053497rem;
stroke-width:1;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .base_37 .Rectangle-path_52  {
    background-color:rgba(255,255,255,1);
position:absolute;
width:8.459508rem;
height:8.206667rem;
border-radius:0.080000rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .drag_and_drop_area .drop_area .Rectangle-path_53  {
    background-color:rgba(255,255,255,1);
border-color:rgba(77,161,255,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:7.653333rem;
height:1.146667rem;
border-radius:0.080000rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .drag_and_drop_area .upload_icon .Path_137  {
    fill:rgba(77,161,255,1);
stroke:rgba(255,255,255,1);
width:0.190400rem;
height:0.142779rem;
stroke-width:0.3px;
position:absolute;
line-height:normal;

}
.ooto_Create_event .create_event_card .drag_and_drop_area .upload_icon .Path_138  {
    fill:rgba(77,161,255,1);
stroke:rgba(255,255,255,1);
width:0.060871rem;
height:0.086876rem;
stroke-width:0.3px;
position:absolute;
left:0.065385rem;
top:0.076432rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .drag_and_drop_area .You_can_also_drop_yo  {
    position:absolute;
left:-1.306667rem;
top:0.160000rem;
width:10.466667rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(76,160,255,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:-0.006111rem;

}
.ooto_Create_event .create_event_card .upload_attachements .add_files_button_1 .base_38 .Rectangle-path_54  {
    background-color:rgba(77,161,255,1);
border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:1.040000rem;
height:0.360000rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .upload_attachements .add_files_button_1 .___Add_files_1  {
    position:absolute;
left:-1.253333rem;
top:-0.253333rem;
width:3.466667rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(255,255,255,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .upload_attachements .Hikoot_Clien_Pitch_V  {
    position:absolute;
left:0.613333rem;
top:0.573333rem;
width:1.906667rem;
height:0.186667rem;
color:rgba(37,45,54,1);
line-height:normal;
font-size:0.160000rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .upload_attachements .Edit  {
    position:absolute;
left:3.440000rem;
top:0.280000rem;
width:1.200000rem;
height:0.800000rem;
transform:scale(0.2);
color:rgba(133,133,133,1);
line-height:normal;
font-size:0.666667rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .upload_attachements .___Add_note  {
    position:absolute;
left:1.706667rem;
top:0.280000rem;
width:3.266667rem;
height:0.800000rem;
transform:scale(0.2);
color:rgba(76,160,255,1);
line-height:normal;
font-size:0.666667rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .upload_attachements .Remove  {
    position:absolute;
left:3.360000rem;
top:0.280000rem;
width:2.533333rem;
height:0.800000rem;
transform:scale(0.2);
color:rgba(133,133,133,1);
line-height:normal;
font-size:0.666667rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .upload_attachements .Upload_attachements  {
    position:absolute;
width:1.613333rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;
letter-spacing:-0.001444rem;

}
.ooto_Create_event .create_event_card .upload_attachements .file_icon .base_39 .Rectangle-path_55  {
    background-color:rgba(77,161,255,0.1000000014901161);
position:absolute;
width:0.373333rem;
height:0.370054rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .upload_attachements .file_icon .Fill_1_15 .Path_139  {
    fill:rgba(77,161,255,1);
width:0.025779rem;
height:0.025552rem;
stroke-width:1;
position:absolute;
left:0.083825rem;
top:0.011379rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .upload_attachements .file_icon .Fill_1_15 .Path_140  {
    fill:rgba(77,161,255,1);
width:0.102453rem;
height:0.129250rem;
stroke-width:1;
position:absolute;
left:0.009314rem;
top:0.009234rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .upload_attachements .file_icon .Fill_1_15 .Path_141  {
    fill:rgba(77,161,255,1);
width:0.121081rem;
height:0.147719rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .create_event_card .location .Location  {
    position:absolute;
width:0.680000rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;
letter-spacing:-0.002667rem;

}
.ooto_Create_event .create_event_card .location .input_field_1 .Rectangle-path_56  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:7.626667rem;
height:0.586667rem;
border-radius:0.066667rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .location .Store_Kongensgade_66  {
    position:absolute;
left:0.266667rem;
top:0.453333rem;
width:3.840000rem;
height:0.373333rem;
color:rgba(50,59,70,1);
line-height:0.373333rem;
font-size:0.160000rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .location .set_meeting_room_button .Rect_4 .Rectangle-path_57  {
    border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:1.613333rem;
height:0.346667rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .location .set_meeting_room_button .___Set_meeting_room  {
    position:absolute;
left:-2.426667rem;
top:-0.246667rem;
width:6.466667rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(76,160,255,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .message .This_event_will_take  {
    position:absolute;
left:-9.626667rem;
top:-0.306667rem;
width:24.733333rem;
height:0.800000rem;
transform:scale(0.2);
color:rgba(127,142,163,1);
line-height:normal;
font-size:0.666667rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .message .Oval .Path_142  {
    background-color:rgba(150,197,107,1);
position:absolute;
width:0.143350rem;
height:0.143350rem;
border-radius:0.071675rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .message .tick_icon_6 .Path_143  {
    fill:rgba(255,255,255,1);
width:0.071675rem;
height:0.053497rem;
stroke-width:1;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .duration_picker .input_field_2 .Rectangle-path_58  {
    border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:1.826667rem;
height:0.586667rem;
border-radius:0.053333rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .duration_picker .picker_1 .Rectangle-path_59  {
    background-color:rgba(244,247,249,0.4);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.586667rem;
height:0.586667rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .duration_picker .chevron_3 .Path_144  {
    fill:rgba(127,142,163,1);
stroke:rgba(127,142,163,1);
width:0.072933rem;
height:0.124417rem;
stroke-width:0.3px;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .duration_picker ._2h_45m  {
    position:absolute;
left:0.253333rem;
top:0.480000rem;
width:0.546667rem;
height:0.346667rem;
color:rgba(50,59,70,1);
line-height:0.346667rem;
font-size:0.160000rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .duration_picker .Duration  {
    position:absolute;
width:0.666667rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .minute_input .input_field_3 .Rectangle-path_60  {
    border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:1.153333rem;
height:0.586667rem;
border-radius:0.053333rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .minute_input .picker_2 .Rectangle-path_61  {
    background-color:rgba(244,247,249,0.4);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.306667rem;
height:0.586667rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .minute_input .separator_5 .Path_145  {
    fill:none;
stroke:rgba(233,239,243,1);
width:0.320000rem;
height:0.040000rem;
stroke-width:1px;
position:absolute;
line-height:normal;

}
.ooto_Create_event .create_event_card .minute_input ._15m  {
    position:absolute;
left:0.266667rem;
top:0.480000rem;
width:0.320000rem;
height:0.346667rem;
color:rgba(50,59,70,1);
line-height:0.346667rem;
font-size:0.160000rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .minute_input .___1  {
    position:absolute;
left:0.813333rem;
top:0.106667rem;
width:0.400000rem;
height:0.800000rem;
transform:scale(0.2);
color:rgba(127,142,163,1);
line-height:normal;
font-size:0.666667rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .minute_input ._-  {
    position:absolute;
left:0.973333rem;
top:0.680000rem;
width:0.066667rem;
height:0.226667rem;
color:rgba(127,142,163,1);
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .minute_input .Minute  {
    position:absolute;
left:0.013333rem;
width:0.533333rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .hour_input .input_field_4 .Rectangle-path_62  {
    border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:1.153333rem;
height:0.586667rem;
border-radius:0.053333rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .hour_input .picker_3 .Rectangle-path_63  {
    background-color:rgba(244,247,249,0.4);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.306667rem;
height:0.586667rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .hour_input .separator_6 .Path_146  {
    fill:none;
stroke:rgba(233,239,243,1);
width:0.320000rem;
height:0.040000rem;
stroke-width:1px;
position:absolute;
line-height:normal;

}
.ooto_Create_event .create_event_card .hour_input ._10am  {
    position:absolute;
left:0.240000rem;
top:0.480000rem;
width:0.413333rem;
height:0.346667rem;
color:rgba(50,59,70,1);
line-height:0.346667rem;
font-size:0.160000rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .hour_input .___2  {
    position:absolute;
left:0.813333rem;
top:0.106667rem;
width:0.400000rem;
height:0.800000rem;
transform:scale(0.2);
color:rgba(127,142,163,1);
line-height:normal;
font-size:0.666667rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .hour_input ._-_1  {
    position:absolute;
left:0.973333rem;
top:0.680000rem;
width:0.066667rem;
height:0.226667rem;
color:rgba(127,142,163,1);
line-height:normal;
font-size:0.186667rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .hour_input .Hour  {
    position:absolute;
left:0.013333rem;
width:0.386667rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .calendar_input .input_field_5 .Rectangle-path_64  {
    border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:2.646667rem;
height:0.586667rem;
border-radius:0.053333rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .selector .Rectangle-path_65  {
    background-color:rgba(244,247,249,0.4);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.586667rem;
height:0.586667rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input ._13_November_2017  {
    position:absolute;
left:0.266667rem;
top:0.493333rem;
width:1.373333rem;
height:0.346667rem;
color:rgba(50,59,70,1);
line-height:0.346667rem;
font-size:0.160000rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .calendar_input .calendar_icon .Path_147  {
    fill:rgba(77,161,255,1);
width:0.011366rem;
height:0.011487rem;
stroke-width:1;
position:absolute;
left:0.034098rem;
top:0.091900rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .calendar_icon .Path_148  {
    fill:rgba(77,161,255,1);
width:0.034098rem;
height:0.034456rem;
stroke-width:1;
position:absolute;
left:0.022735rem;
top:0.080416rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .calendar_icon .Path_149  {
    fill:rgba(77,161,255,1);
width:0.011366rem;
height:0.011493rem;
stroke-width:1;
position:absolute;
left:0.034098rem;
top:0.137846rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .calendar_icon .Path_150  {
    fill:rgba(77,161,255,1);
width:0.034098rem;
height:0.034464rem;
stroke-width:1;
position:absolute;
left:0.022735rem;
top:0.126359rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .calendar_icon .Path_151  {
    fill:rgba(77,161,255,1);
width:0.011366rem;
height:0.011487rem;
stroke-width:1;
position:absolute;
left:0.079563rem;
top:0.091900rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .calendar_icon .Path_152  {
    fill:rgba(77,161,255,1);
width:0.034098rem;
height:0.034456rem;
stroke-width:1;
position:absolute;
left:0.068197rem;
top:0.080416rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .calendar_icon .Path_153  {
    fill:rgba(77,161,255,1);
width:0.011366rem;
height:0.011493rem;
stroke-width:1;
position:absolute;
left:0.079563rem;
top:0.137846rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .calendar_icon .Path_154  {
    fill:rgba(77,161,255,1);
width:0.034098rem;
height:0.034464rem;
stroke-width:1;
position:absolute;
left:0.068197rem;
top:0.126359rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .calendar_icon .Path_155  {
    fill:rgba(77,161,255,1);
width:0.011366rem;
height:0.011487rem;
stroke-width:1;
position:absolute;
left:0.125027rem;
top:0.091900rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .calendar_icon .Path_156  {
    fill:rgba(77,161,255,1);
width:0.034098rem;
height:0.034456rem;
stroke-width:1;
position:absolute;
left:0.113661rem;
top:0.080416rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .calendar_icon .Path_157  {
    fill:rgba(77,161,255,1);
width:0.011366rem;
height:0.011493rem;
stroke-width:1;
position:absolute;
left:0.125027rem;
top:0.137846rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .calendar_icon .Path_158  {
    fill:rgba(77,161,255,1);
width:0.034098rem;
height:0.034464rem;
stroke-width:1;
position:absolute;
left:0.113661rem;
top:0.126359rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .calendar_icon .Path_159  {
    fill:rgba(77,161,255,1);
width:0.147760rem;
height:0.114869rem;
stroke-width:1;
position:absolute;
left:0.011366rem;
top:0.057442rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .calendar_icon .Path_160  {
    fill:rgba(77,161,255,1);
width:0.147760rem;
height:0.022977rem;
stroke-width:1;
position:absolute;
left:0.011366rem;
top:0.022977rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .calendar_icon .Path_161  {
    fill:rgba(77,161,255,1);
width:0.170507rem;
height:0.183798rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .create_event_card .calendar_input .Day  {
    position:absolute;
width:0.320000rem;
height:0.213333rem;
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Create_event .create_event_card .title_input .input_field_6 .Rectangle-path_66  {
    background-color:rgba(255,255,255,1);
border-color:rgba(233,239,243,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:7.653333rem;
height:0.586667rem;
border-radius:0.053333rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .title_input .Hikoot_app_concept_d  {
    position:absolute;
left:0.266667rem;
top:0.453333rem;
width:2.466667rem;
height:0.360000rem;
color:rgba(50,59,70,1);
line-height:0.360000rem;
font-size:0.173333rem;
font-family:Helvetica;
letter-spacing:-0.002167rem;

}
.ooto_Create_event .create_event_card .title_input .Title  {
    position:absolute;
left:-0.826667rem;
top:-0.333333rem;
width:2.066667rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(50,59,70,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;
letter-spacing:0.006667rem;

}
.ooto_Create_event .create_event_card .title_input .add_description_button .base_40 .Rectangle-path_67  {
    border-color:rgba(77,161,255,1);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:1.453333rem;
height:0.360000rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .create_event_card .title_input .add_description_button .___Add_description  {
    position:absolute;
left:-2.126667rem;
top:-0.233333rem;
width:5.733333rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(76,160,255,1);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;

}
.ooto_Create_event .cancel_button .Rectangle_1 .Path_162  {
    background-color:rgba(233,239,243,0.4800000190734863);
position:absolute;
width:1.320000rem;
height:0.586667rem;
border-radius:0.053333rem;
line-height:normal;

}
.ooto_Create_event .cancel_button .Cancel  {
    position:absolute;
left:0.826667rem;
top:0.200000rem;
width:0.546667rem;
height:0.213333rem;
opacity:0.4491055253623188;
color:rgba(152,152,152,1);
line-height:normal;
font-size:0.173333rem;
font-family:Helvetica;

}
.ooto_Create_event .Create_event_1  {
    position:absolute;
left:2.133333rem;
top:2.000000rem;
width:2.733333rem;
height:0.613333rem;
color:rgba(35,52,56,1);
line-height:normal;
font-size:0.506667rem;
font-family:Helvetica;
letter-spacing:-0.014533rem;

}
.ooto_Create_event .main_nav_1 .line_1 .separator_7 .Rectangle-path_68  {
    background-color:rgba(197,197,197,1);
position:absolute;
width:13.653333rem;
height:0.013333rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .logo_1 ._Path__1 ._Path_-path_1  {
    fill:rgba(77,161,255,0.3);
width:0.120927rem;
height:0.276471rem;
stroke-width:1;
position:absolute;
left:0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .logo_1 ._Path_3_1 ._Path_3-path_1  {
    fill:rgba(77,161,255,0.2984601449275363);
width:0.547274rem;
height:0.392448rem;
stroke-width:1;
position:absolute;
top:-0.000001rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .logo_1 ._Path_5_1 ._Path_5-path_1  {
    fill:rgba(77,161,255,1);
width:0.532375rem;
height:0.307554rem;
stroke-width:1;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .indicator_1 .Path_164  {
    fill:rgba(65,145,236,1);
width:0.136557rem;
height:0.586667rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .settings_icon_1 .Fill_1_16 .Path_165  {
    fill:rgba(0,121,255,1);
width:0.255652rem;
height:0.255652rem;
stroke-width:1;
position:absolute;
left:0.012174rem;
top:0.012174rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .settings_icon_1 .Fill_1_16 .Path_166  {
    fill:rgba(0,121,255,1);
width:0.280000rem;
height:0.280000rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .settings_icon_1 .Fill_4_8 .Path_167  {
    fill:rgba(0,121,255,1);
width:0.085217rem;
height:0.085217rem;
stroke-width:1;
position:absolute;
left:0.012174rem;
top:0.012174rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .settings_icon_1 .Fill_4_8 .Path_168  {
    fill:rgba(0,121,255,1);
width:0.109565rem;
height:0.109565rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .conversations_icon_1 .Fill_1_17 .Path_169  {
    fill:rgba(0,121,255,1);
width:0.198921rem;
height:0.180635rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .conversations_icon_1 .Fill_4_9 .Path_170  {
    fill:rgba(0,121,255,1);
width:0.198743rem;
height:0.193907rem;
stroke-width:1;
position:absolute;
left:0.018438rem;
top:0.012556rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .conversations_icon_1 .Fill_4_9 .Path_171  {
    fill:rgba(0,121,255,1);
width:0.229627rem;
height:0.219019rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .files_board_icon_1 .Fill_1_18 .Path_172  {
    fill:rgba(0,121,255,1);
width:0.211984rem;
height:0.265959rem;
stroke-width:1;
position:absolute;
left:0.012470rem;
top:0.012665rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .files_board_icon_1 .Fill_1_18 .Path_173  {
    fill:rgba(0,121,255,1);
width:0.236923rem;
height:0.291288rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .files_board_icon_1 .Fill_3_7 .Path_174  {
    fill:rgba(0,121,255,1);
width:0.081053rem;
height:0.075988rem;
stroke-width:1;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .files_board_icon_1 .Fill_5_1 .Path_175  {
    fill:rgba(0,121,255,1);
width:0.087287rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .files_board_icon_1 .Fill_7_1 .Path_176  {
    fill:rgba(0,121,255,1);
width:0.162105rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .files_board_icon_1 .Fill_9_2 .Path_177  {
    fill:rgba(0,121,255,1);
width:0.162105rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .files_board_icon_1 .Fill_11_1 .Path_178  {
    fill:rgba(0,121,255,1);
width:0.162105rem;
height:0.012665rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .meetings_icon_1 .Fill_1_19 .Path_179  {
    fill:rgba(0,121,255,1);
width:0.124142rem;
height:0.145872rem;
stroke-width:1;
position:absolute;
left:0.011782rem;
top:0.011758rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .meetings_icon_1 .Fill_1_19 .Path_180  {
    fill:rgba(0,121,255,1);
width:0.147707rem;
height:0.169388rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .meetings_icon_1 .Fill_4_10 .Path_181  {
    fill:rgba(0,121,255,1);
width:0.025335rem;
height:0.022598rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .meetings_icon_1 .Fill_6_3 .Path_182  {
    fill:rgba(0,121,255,1);
width:0.156984rem;
height:0.122207rem;
stroke-width:1;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .meetings_icon_1 .Fill_9_3 .Path_183  {
    fill:rgba(0,121,255,1);
width:0.070641rem;
height:0.064668rem;
stroke-width:1;
position:absolute;
left:0.011773rem;
top:0.011758rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .meetings_icon_1 .Fill_9_3 .Path_184  {
    fill:rgba(0,121,255,1);
width:0.094181rem;
height:0.088183rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .meetings_icon_1 .Fill_12_1 .Path_185  {
    fill:rgba(0,121,255,1);
width:0.082408rem;
height:0.011758rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .meetings_icon_1 .Fill_14_1 .Path_186  {
    fill:rgba(0,121,255,1);
width:0.011773rem;
height:0.035273rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .meetings_icon_1 .Fill_16_1 .Path_187  {
    fill:rgba(0,121,255,1);
width:0.011773rem;
height:0.035273rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .sessions_icon_1 .Fill_6_4 .Path_188  {
    fill:rgba(0,121,255,1);
width:0.171442rem;
height:0.252984rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
top:0.000000rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .sessions_icon_1 .Fill_3_8 .Path_189  {
    fill:rgba(0,121,255,1);
width:0.247018rem;
height:0.113956rem;
stroke-width:1;
position:absolute;
top:-0.000000rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .sessions_icon_1 .Fill_1_20 .Path_190  {
    fill:rgba(0,121,255,1);
width:0.112003rem;
height:0.130133rem;
stroke-width:1;
position:absolute;
left:0.013620rem;
top:0.013394rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .sessions_icon_1 .Fill_1_20 .Path_191  {
    fill:rgba(0,121,255,1);
width:0.139238rem;
height:0.156922rem;
stroke-width:1;
position:absolute;
left:-0.000000rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .dashboard_icon_1 .Fill_1_21 .Path_192  {
    fill:rgba(0,121,255,1);
width:0.253720rem;
height:0.096175rem;
stroke-width:1;
position:absolute;
left:0.026244rem;
top:0.014125rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .dashboard_icon_1 .Fill_1_21 .Path_193  {
    fill:rgba(0,121,255,1);
width:0.306215rem;
height:0.124428rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .dashboard_icon_1 .Fill_4_11 .Path_194  {
    fill:rgba(0,121,255,1);
width:0.306215rem;
height:0.096732rem;
stroke-width:1;
position:absolute;
top:0.000000rem;
line-height:normal;

}
.ooto_Create_event .main_nav_1 .dashboard_icon_1 .Fill_6_5 .Path_195  {
    fill:rgba(0,121,255,1);
width:0.306215rem;
height:0.095460rem;
stroke-width:1;
position:absolute;
line-height:normal;

}
.ooto_Create_event .top_nav_1 .separator_8 .Rectangle-path_69  {
    background-color:rgba(231,233,234,1);
position:absolute;
width:19.186667rem;
height:0.013333rem;
line-height:normal;

}
.ooto_Create_event .top_nav_1 .Search_1 .Find_a_user__team__m  {
    position:absolute;
left:0.453333rem;
top:0.026667rem;
width:2.760000rem;
height:0.346667rem;
color:rgba(152,152,152,0.5);
line-height:0.346667rem;
font-size:0.213333rem;
font-family:Helvetica;

}
.ooto_Create_event .top_nav_1 .Search_1 .search_icon_1 .Path_196  {
    fill:rgba(152,152,152,0.61);
stroke:rgba(255,255,255,1);
width:0.271459rem;
height:0.287120rem;
stroke-width:0.6px;
position:absolute;
line-height:normal;

}
.ooto_Create_event .top_nav_1 .Search_1 .search_icon_1 .Path_197  {
    fill:rgba(152,152,152,0.61);
stroke:rgba(255,255,255,1);
width:0.168432rem;
height:0.175698rem;
stroke-width:0.6px;
position:absolute;
left:0.033671rem;
top:0.035152rem;
line-height:normal;

}
.ooto_Create_event .top_nav_1 .Oval_2_1 .Path_198  {
    border-color:rgba(255,255,255,1);
border-width:0.026667rem;
border-style:solid;
position:absolute;
width:0.746667rem;
height:0.746667rem;
background-image:url(../images/2ea6cc5cf7fd2bf11fcde7a244868cc18d0f853c.png);
border-radius:0.386667rem;
line-height:normal;

}
.ooto_Create_event .top_nav_1 .invite_button_1 .Rect_5 .Rectangle-path_70  {
    background-color:rgba(255,255,255,1);
border-color:rgba(77,161,255,0.7000000000000001);
border-width:0.013333rem;
border-style:solid;
position:absolute;
width:0.866667rem;
height:0.360000rem;
border-radius:0.026667rem;
line-height:normal;

}
.ooto_Create_event .top_nav_1 .invite_button_1 .Invite_1  {
    position:absolute;
left:-0.386667rem;
top:-0.240000rem;
width:1.800000rem;
height:0.866667rem;
transform:scale(0.2);
color:rgba(76,160,255,0.742017663);
line-height:normal;
font-size:0.733333rem;
font-family:Helvetica;

}
.ooto_Create_event .top_nav_1 .invite_button_1 .paper_plane_icon_1 .Fill_1_22 .Path_199  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.109585rem;
height:0.093483rem;
stroke-width:0.3px;
position:absolute;
left:0.009264rem;
top:0.007132rem;
line-height:normal;

}
.ooto_Create_event .top_nav_1 .invite_button_1 .paper_plane_icon_1 .Fill_1_22 .Path_200  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.124939rem;
height:0.107122rem;
stroke-width:0.3px;
position:absolute;
left:-0.000000rem;
top:-0.000000rem;
line-height:normal;

}
.ooto_Create_event .top_nav_1 .invite_button_1 .paper_plane_icon_1 .Fill_4_12 .Path_201  {
    fill:rgba(77,161,255,1);
stroke:rgba(77,161,255,1);
width:0.075646rem;
height:0.123560rem;
stroke-width:0.3px;
position:absolute;
top:-0.000000rem;
line-height:normal;

}